$baseFontSize: 20px !default;
$red: #D71345 !default;
$opacity: 1 !default;
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}

@mixin displayflex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($size:1) {
  -webkit-box-flex: $size;
  -moz-box-flex: $size;
  -webkit-flex: $size;
  -ms-flex: $size;
  flex: $size;
}

@mixin flexflowCol($direction:column,$dir:vertical) {
  -webkit-box-orient: $dir;
  -ms-box-orient: $dir;
  -moz-box-orient: $dir;
  -webkit-flex-flow: $direction nowrap;
  -ms-flex-flow: $direction nowrap;
  -moz-flex-flow: $direction nowrap;
  flex-flow: $direction nowrap;
}

@mixin flexflowRow($direction:row,$dir:horizontal) {
  -webkit-box-orient: $dir;
  -ms-box-orient: $dir;
  -moz-box-orient: $dir;
  -webkit-flex-flow: $direction nowrap;
  -ms-flex-flow: $direction nowrap;
  -moz-flex-flow: $direction nowrap;
  flex-flow: $direction nowrap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: Helvetica, sans-serif;
  -webkit-touch-callout: none;
  box-sizing: border-box;
  outline: none;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  border: none;
  vertical-align: top;
  font-size: rem(15px);
  color: #535353;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: #fff;
}

html {
  font-size: 20px;
}

.top_banner {
  width: rem(260px);
  height: rem(69px);
  margin: rem(15px) auto;
  img {
    width: 100%;
    height: 100%;
  }
}

.bottom_banner {
  width: rem(273px);
  height: rem(33px);
  margin: 0 auto;
}

footer {
  padding: .65rem 0 1.5rem;
  a {
    display: block;
    width: rem(288px);
    height: rem(44px);
    line-height: rem(44px);
    color: #fff;
    font-size: rem(14px);
    margin: 0 auto;
    text-align: center;
    background-color: #DC253B;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    &:before {
      content: '';
      display: inline-block;
      width: rem(20px);
      height: rem(22px);
      margin: rem(11px) rem(15px);
      background: url(/images/guide.png) no-repeat center;
      background-size: cover;
      vertical-align: top;
    }
  }
}

.content {
  padding: rem(5px) rem(16px) 0 rem(16px);
  .stop {
    padding-bottom: rem(30px);
    .stop_title {
      color: #535353;
      font-size: rem(15px);
      padding-bottom: rem(10px);
      line-height: rem(20px);
    }
    .stop_title.stop{
      &:before {
        content: '';
        display: inline-block;
        width: rem(20px);
        height: rem(20px);
        background: url(/images/stop_icon.png) no-repeat center;
        background-size: cover;
        vertical-align: top;
      }
    }
    .stop_title.parking{
      &:before{
        content: '';
        display: inline-block;
        width: rem(20px);
        height: rem(20px);
        background: url(/images/parking_icon.png) no-repeat center;
        background-size: cover;
        vertical-align: top;
      }
    }
    .stop_desc {
      .node {
        @include displayflex;
        @include flexflowRow();
        &.first {
          .line {
            .circle {
              margin-top: rem(4px);
              position: relative;
            }
          }
        }
        &.last {
          .substance {
            padding-bottom: 0;
          }
        }
        &.noLine{
          .substance {
            margin-left: 0;
            padding-bottom: 0;
            img{
              height: rem(144px);
            }
          }
        }
        .line {
          width: rem(9px);
          @include displayflex;
          @include flexflowCol();
          position: relative;
          margin-left: 0.3rem;
          span {
            display: block;
          }
          .circle {
            width: rem(9px);
            height: rem(9px);
            margin-top: rem(4px);
            background: url(/images/pink_circle.png) no-repeat center;
            background-size: cover;
            position: absolute;
            left: 0;
            right: 0;
            &.last {
              margin-top: 0;
              position: relative;
            }
          }
          .pink_line {
            width: rem(5px);
            margin: 0 auto;
            @include flex(1);
            background-color: #F9C9D6;
          }
        }
        .substance {
          @include flex(1);
          width: rem(258px);
          font-size: rem(13px);
          color: #737373;
          line-height: rem(20px);
          margin-left: rem(17px);
          padding-bottom: rem(10px);
          img {
            width: 100%;
            height: rem(136px);
            margin-top: rem(8px);
          }
          .ticket {
            @include displayflex;
            @include flexflowRow();
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            border: 1px solid #CFCFCF;
            background: #fff;
            margin-top: rem(15px);
            margin-bottom: rem(15px);
            height: rem(59px);
            .left {
              @include flex(1);
              padding: rem(10px) rem(10px) rem(10px) rem(14px);
              .title {
                color: #DC253B;
                font-size: rem(15px);
                padding-bottom: rem(8px);
                word-break: keep-all;
                max-width: rem(206px);
                height: rem(25px);
                line-height: rem(17px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .detail {
                height: rem(14px);
                line-height: rem(14px);
                .sc-price, .jg-price {
                  color: #535353;
                  span{
                    font-size: rem(12px);
                    height: rem(12px);
                    line-height: rem(12px);
                    vertical-align: middle;
                  }
                  .label {
                    color: #AEAEAE;
                    font-size: rem(12px);
                  }
                }
                .jg-price {
                  margin-left: rem(18px);
                }
              }
            }
            .right {
              display: inline-block;
              width: rem(50px);
              min-height: rem(57px);
              text-align: center;
              color: #fff;
              padding: rem(9px);
              font-size: rem(15px);
              line-height: rem(20px);
              background-color: #DC253B;
              word-break: break-all;
              -webkit-border-radius: 0 4px 4px 0;
              -moz-border-radius: 0 4px 4px 0;
              -ms-border-radius: 0 4px 4px 0;
              -o-border-radius: 0 4px 4px 0;
              border-radius: 0 4px 4px 0;
            }
            &.no-mb {
              margin-bottom: 0;
            }
            &.no-mt{
              margin-top: 0;
            }
          }
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
  }
}