<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小简为你采集吃住娱</title>
    <link href="/css/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/collection_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在九寨—藏味风情，川味香辣
        </div>
        <div class="collection_desc">
            <p>
                正所谓“食在中国，味在四川”，小简知道很多来成都旅行的朋友，吃是被放在第一位的，美食之都当然不是说说而已。那来到了九寨，美食同样也必不可少。在九寨的好处就是，你不仅能够深刻感受到川味的香辣，更能体会到藏味的风情韵味。感受一下藏族同胞们精心烹制的美食，无论怎样选择都是一种享受，你觉得呢？
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        九寨有很多的藏族朋友开的餐馆，小简为大家选择了一家装修更具风情，口味更适合我们的一家，阿布氇孜。必须提到的一句，阿布氇孜是九寨两家入选《孤独星球》的必吃餐厅之一哦~在阿布氇孜，所有的菜都是老板自创的哦，在这里，吃着传统的藏餐，藏族姑娘会轻轻的给你唱一首歌，尝一口温暖的酥油茶，听藏族老板讲讲驴友们的故事，再一起品一杯佳酿的青稞酒，酒暖人心的同时是不是觉得九寨更有人情味了呢？
                    </p>
                    <img src="/images/jzg/jzg_collection_ablz0.jpg" alt="jzg_collection_ablz0.jpg"/>
                    <div class="ticket">
                        <div class="left">
                            <div class="title">九寨沟阿布氇孜藏餐厅100元代金券1张</div>
                            <div class="detail">
                                <span class="label">抢购价</span>
                                <span>85元</span>
                            </div>
                        </div>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/176"
                           class="right">立即抢购</a>
                    </div>
                    <p>
                        除了正餐，九寨也有非常多的藏民的小吃，完全可以满足各种吃货的欲望。首先就是九寨的特色牦牛肉了，牦牛肉是藏区非常常见的一种食物了，既有牦牛肉干，也有卤牦牛肉，也有用新鲜牦牛肉做的各种菜肴。大家来到了九寨就一定要尝尝牦牛肉再走哦。其次就是藏族朋友非常喜欢用的一样食材-青稞，藏族朋友会把它们做成青稞酒或者青稞饼，这种浓浓的民族特色让人欲罢不能。
                    </p>
                    <img src="/images/jzg/jzg_collection_ablz1.jpg" alt="jzg_collection_ablz1.jpg"/>
                </div>
            </div>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group  no-pb">
                        <p>
                            比起藏餐可能有些朋友会更青睐地道的川菜，小简当然也准备好了~
                        </p>
                        <p class="pt10">
                            九寨海拔较高，常年温度会比其他地区低一些，早晚温差也较大。在游玩了整天之后，你是不是也想吃点热乎的晚饭来犒劳自己？小简给大家推荐一道四川传统名菜-连锅汤。
                            肉用开水煮透后捞出，切成大薄片，将萝卜下入原汤加花椒和葱，大火煮烂后下入肉片，稍煮后下入料酒、味精、胡椒粉、盐即可。汤鲜可口，肉质鲜嫩，蘸汁香辣。在九寨这样温度较低的天气下，一口肉汤好像更能温暖人心。当然，连锅汤不只有连锅汤，还有一系列味美实惠的川菜套餐可供大伙选择。
                        </p>
                        <img src="/images/jzg/jzg_collection_lgt0.png" alt="jzg_collection_lgt0.png"/>
                        <img src="/images/jzg/jzg_collection_lgt1.png" alt="jzg_collection_lgt1.png"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">九寨沟养生连锅汤中餐2人份</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>50元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/162"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group no-pb">
                        <p>
                            还记得小简前面提到过的九寨地区有两家餐厅入选了《孤独星球》的必吃榜单吗？除了阿布氇孜，另外一家就是太白楼了，这里有正宗的西餐，也有着各种各样的创新菜式，比如招牌——牦牛肉披萨，反正听起来就足够吸引到小简我了。环境小资情调，旺季的时候可能会排队哟~总之在九寨吃一次太白楼说不定也是一种别样的体验。
                        </p>
                        <img src="/images/jzg/jzg_collection_tbl0.jpg" alt="jzg_collection_tbl0.jpg"/>
                        <img src="/images/jzg/jzg_collection_tbl1.jpg" alt="jzg_collection_tbl1.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">九寨沟太白楼双人餐</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>100元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/170"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title hotel">
            住在九寨-天堂咫尺，美景尽收
        </div>
        <div class="collection_desc">
            <p>
                玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p>
                            如果一个酒店不像一个酒店，更像一个隐藏美景之下的桃花源呢？九寨天堂洲际酒店位于群山包围之中，推开窗户美景尽收眼底，去景点有专车接送。闲了可以去附近的甘海子散散步吹吹风，晚上藏吧还有表演，看夜空泡温泉更是浪漫无限。既然来了九寨，就在九寨的天堂住一晚，近距离感受天堂的咫尺之美。
                        </p>
                        <img src="/images/jzg/jzg_collection_ttjd0.png" alt="jzg_collection_ttjd0.png"/>
                        <img src="/images/jzg/jzg_collection_ttjd1.png" alt="jzg_collection_ttjd1.png"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">九寨天堂洲际大饭店</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>1200元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/93"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group no-pb">
                        <p>
                            另外一家小简想要推荐的相对高档的酒店就是九寨天源豪生酒店了，传说中的未挂五星的五星酒店，环境设施都很崭新，酒店距离沟口距离十分钟车程，酒店旁边就是九寨宋城千古情，晚上回来可以走着去看看演出，对于青睐优质住宿环境的朋友们来说，天源豪生是个不错的选择哦~
                        </p>
                        <img src="/images/jzg/jzg_collection_tyhs0.png" alt="jzg_collection_tyhs0.png"/>
                        <img class="mb10" src="/images/jzg/jzg_collection_tyhs1.png" alt="jzg_collection_tyhs1.png"/>
                    </div>
                    <div class="group no-pb">
                        <p>
                            如果你是个小清新，是个文艺青年，是一个喜欢各种文化元素碰撞的人，九寨沟寻迹花园应该会更适合你。这里的花园是小资调调，揉合了藏文化和江南小清新，还有个阳光休息室，里面的一草一木都是老板亲自浇灌成长，满眼的绿色，让人深深沉醉其中。更重要的是，价格不贵，性价比超高，而且老板很热情哦，会帮你订票等等，酒店坐落在九寨沟，距离九寨宋城千古情旅游区仅700米。
                        </p>
                        <img src="/images/jzg/jzg_collection_xjjd0.jpg" alt="jzg_collection_xjjd0.jpg"/>
                        <img src="/images/jzg/jzg_collection_xjjd1.jpg" alt="jzg_collection_xjjd1.jpg"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">九寨沟寻迹丽景山舍酒店</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>240元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/141"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group no-pb">
                        <p>
                            如果你对藏羌文化有着浓厚的兴趣，小简就要推荐这家嘉绒鑫宫酒店给你了，酒店是川主寺地区首家藏羌文化主题酒店。店内按照藏族风情装修，并陈设了众多藏品，绝对可以满足你想了解藏羌文化的好奇心。酒店位于川主寺的中心地区，距离九寨黄龙机场仅十分钟路程，所以对于要早起赶飞机的朋友来说也不妨是一个很好的选择。
                        </p>
                        <img src="/images/jzg/jzg_collection_jr0.jpg" alt="jzg_collection_jr0.jpg"/>
                        <img src="/images/jzg/jzg_collection_jr1.jpg" alt="jzg_collection_jr1.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">松潘川主寺嘉绒鑫宫大酒店</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>500元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/237"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            玩在九寨-星空温泉 千古情牵
        </div>
        <div class="collection_desc">
            <!--<p>-->
            <!--玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！-->
            <!--</p>-->
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p>
                            一天结束了，你是否想坐下来休息休息，静静的放松疲惫的身体。在之前住宿推荐中，小简提到了夜景温泉，在九寨天堂洲际酒店的天浴温泉，巨大的透明玻璃罩，轻轻隔开了酒店与夜空，在里面你可以一边数星星一边泡温泉。白天景色也非常不错哦，温泉外面层峦叠嶂，白云萦绕，在这里你不仅可以得到身体的放松，更感受到对于美的享受。
                        </p>
                        <img src="/images/jzg/jzg_collection_tywq0.jpg" alt="jzg_collection_tywq0.jpg"/>
                        <img src="/images/jzg/jzg_collection_tywq1.jpg" alt="jzg_collection_tywq1.jpg"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">九寨天堂洲际大饭店天浴温泉</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>125元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/95"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group no-pb">
                        <p>
                            小简知道有些小伙伴不愿意景区之行一结束就回酒店呼呼大睡，在这里呢，小简良心推荐九寨千古情晚会，一个了解九寨沟文化的非常好的途径。晚会将通过优美而神秘的藏羌歌舞带你进行一场穿越时空的旅行，完美呈现了在辉煌的大唐皇宫文成公主汉藏和亲的壮举等等，更是通过5D高科技真是再现了汶川地震时的惨烈场面，真实的场面将让你被震撼到无法言喻，同时也让你感受到了在大灾大难面前中华民族的大爱深沉。
                        </p>
                        <!--<img src="/images/jzg/jzg_collection_qgq0.jpg" alt="jzg_collection_qgq0.jpg"/>-->
                        <img src="/images/jzg/jzg_collection_qgq1.jpg" alt="jzg_collection_qgq1.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">九寨沟千古情晚会贵宾票1张（散客票）</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>260元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/282"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/guide/jzg/home.html">去查看全部九寨沟攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>