<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小简为你采集吃住娱</title>
    <link href="/css/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/collection_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title bus">
            行在成都：交通便利，想哪儿走哪儿
        </div>
        <div class="collection_desc">
            <div class="item">
                <p>
                    一、飞机
                </p>
                <p>抵达成都双流国际机场，成都机场距离市区16公里左右，到达机场的朋友可以选择打车或机场大巴进入市区。简途也为大家准备了成都市区-双流机场的接泊服务。</p>
            </div>
            <div class="item">
                <p class="pt10 pb5">二、地铁</p>
                <img class="pb10 map" src="/images/cd/cd_collection_map.png" alt="cd_collection_map.png"/>
                <p>目前成都地铁正式运营三条线分别是：一号线，二号线，四号线
                    蓝色代表一号线、红色代表二号线、紫色代表四号线
                    地铁优势：准时、快速、便捷
                </p>
            </div>
            <div class="item">
                <p class="pt10">
                    三、公车、快车
                </p>
                <p>
                    BRT——二环路高架快速公交,KI. K2. K1A.K2A
                    优势:快速.畅通.全程无红绿灯,无堵车现象，不会被私家车和出租车抢道的公交
                    Uber、滴滴、各种专车在大成都全部都畅通无阻
                    出租车——1.9/KM 起步价8元
                    公交车的话，只要会看站牌，小简相信大家都没问题的~
                </p>
            </div>
            <div class="item">
                <p class="pt10">四、简途巴士</p>
                <p>想到成都周边玩耍的朋友，请吃下小简这枚安利，去成都周边玩耍，就选简途！还有车票门票套餐，要多方便就多方便~</p>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在成都：就怕你的胃不够大
        </div>
        <div class="collection_desc">
            <p>
                成都的必去的景点可不只这些哦，但因为篇幅有限，小简关于必去景点的介绍就先到这里，下面来看看小简重磅推荐的成都美食。很多人会因为美食来到一个城市，而成都绝对是一个让很多人欲罢不能的美食之都。下面就请忍住口水先和小简感受一下成都美食们的诱惑~
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group">
                        <p class="gTitle">火锅</p>
                        <p>
                            再来说说到我们四川的火锅，说闻名于世界一点也不夸张，小简摸着自己的良心推荐给大家几家靠味道出名的火锅店。
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_hg0.png" alt="cd_collection_hg0.png"/>
                        <p>蜀九香是外地朋友们比较熟悉的一家火锅店，味道也是比较适合大众口味，如果去了蜀九香小简推荐大家点一点他家的特色的九香牛肉，说出来不怕大家笑话，小简第一次吃的时候点了四盘。蜀九香的消费在成都火锅中是属于消费稍微较高的，大家可以根据自己的情况来选择。</p>
                        <img class="pb10" src="/images/cd/cd_collection_sjx.png" alt="cd_collection_sjx.png"/>
                        <p>再说一家巴蜀大宅门，成都本地人比较喜欢光顾的一家平价火锅店，坊间流传着说吃火锅一定要去一家里面食客都讲四川话的火锅店。那么巴蜀大宅门一定满足这个条件，每逢周末节假日，刚过五点店外就已经开始排起长队。话说小简曾经排过98桌，两个半小时，为了吃个火锅也是拼了。</p>
                        <img class="pb10" src="/images/cd/cd_collection_hg.jpg" alt="cd_collection_hg.jpg"/>
                        <p>最后来说说众多明星来成都的首要火锅选择，大龙燚火锅。大龙燚以辣出名，在成都以辣著称的火锅中可以称为数一数二。这可不是吹吹而已，作为游客的你，点微辣就没错了，如果不服气想点中辣？别管小简没有提醒你，先备好冰的水或者饮料。是不是激起你的挑战欲了呢，快去试试吧~</p>
                        <img src="/images/cd/cd_collection_dly.jpg" alt="cd_collection_dly.jpg"/>
                    </div>
                    <div class="group">
                        <p class="gTitle">川菜</p>
                        <p class="pb10">
                            川菜早在千余年前就颇负盛名，以其色、香、味俱全形成了“百菜百昧，一菜一格”的独有特色。到了成都，川菜必是首选推荐。
                        </p>
                        <p>
                            陈麻婆豆腐算是一个地道川菜的大集锦，在这里点上一份招牌麻婆豆腐，感受麻辣香鲜嫩的豆腐在口中翻滚的感觉真的是好到爆炸。再配上几个川菜名菜，宫保鸡丁，鱼香肉丝，水煮肉片，保准让你的胃满意的回家！
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_mpdf.jpg" alt="cd_collection_mpdf.jpg"/>
                        <p>
                            成都有几家名气非常大的老牌川菜品牌，文杏酒楼就是老式川菜和创新川菜结合的典型代表之一，味道正宗，分量够足。来到成都不如感受一下新旧结合的川菜，看会不会颠覆你对川菜一贯的看法呢？
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_wxjl.jpg" alt="cd_collection_wxjl.jpg"/>
                    </div>
                    <div class="group">
                        <p class="gTitle">小吃</p>
                        <p class="pb10">
                            成都小吃绝对是多到让你眼花缭乱的地步，别急，慢慢看小简给你介绍：
                        </p>
                        <p>
                            龙抄手：龙抄手是成都的著名品牌，皮薄馅多。红油抄手是很出名的品种之一，10-15元10个。成都普通路边的小面馆基本都会有龙抄手，但最出名的品牌应该就是老麻抄手了，以麻辣著称，吃完一碗老麻抄手，嘴巴可能会被麻到失去知觉哦~
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_lcs.png" alt="cd_collection_lcs.png"/>
                        <p>
                            钟水饺：钟水饺是始于光绪年间的成都著名小吃，无汤水，口感独特，辣中带甜。一般6-8元/份。“钟水饺”始创于1893年，创始人钟燮森（字少白），因开业之初店址在成都的荔枝巷，钟水饺故又称“荔枝巷钟水饺”。该店最为著名的品种有红油水饺和清汤水饺两种，其中又以红油水饺为首，食客称之为“荔枝巷红油水饺”。红油水饺味微辣、鲜香、咸中带甜，再配以该店特制的椒盐酥锅魁，真是别有一番风味~
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_zsj.jpeg" alt="cd_collection_zsj.jpeg"/>
                        <p>
                            三大炮：一种糯米类型的甜点，类似红糖糍粑，但比较具有观赏性。一份有三个糯米团，扔到中间平台上，发出一阵声响后落入后面容器里裹上粉。做一份能听三声响儿，非常有意思，在成都的锦里和宽窄巷子都会有卖，经常会有很多人围观，味道也很不错啦~
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_sdp.jpg" alt="cd_collection_sdp.jpg"/>
                        <p>冒菜：“冒菜”是成都的特色菜，“冒”字在这里是动词。准备一锅麻辣鲜香的汤汁，把菜用一个竹勺装好，一般一勺就是一份。在锅里煮熟，然后盛到碗里，顺便再舀一勺汤汁。在成都很多帅哥和妹子都是冒菜的迷妹哦，午饭来一顿晚饭来一顿~其中无名冒菜，竹楼香冒菜都是不错的选择哦！</p>
                        <img class="pb10" src="/images/cd/cd_collection_mc.jpg" alt="cd_collection_mc.jpg"/>
                        <p>肥肠粉：很多朋友受不了肥肠重口味，但是爱它的朋友又是爱的至深。肥肠鲜嫩入味，粉丝细腻弹滑。初次吃也许会觉得肥腻，待入口后，肥肠的卤香细腻、滑爽耐嚼定能令你回味。</p>
                        <img class="pb10" src="/images/cd/cd_collection_fcf.jpg" alt="cd_collection_fcf.jpg"/>
                    </div>
                    <div class="group no-pb">
                        <p class="gTitle">伴手礼</p>
                        <p class="pb10">
                            很多朋友在成都吃的很开心，想着怎么把好吃的都给朋友们带回去呢，别着急，小简都为你准备好啦：
                        </p>
                        <p>
                            九寨高原跑山兔：兔兔的肉肉一直以鲜嫩著称，九寨的高原跑山兔常年保持运动，身体机能更强健，肉质也就更鲜嫩。两种口味的选择，带回去给朋友绝对会被抢光的~
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_jzgt.jpg" alt="cd_collection_jzgt.jpg"/>
                        <div class="ticket no-mt">
                            <div class="left">
                                <div class="title">九寨高原跑山兔</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/220" class="right">立即抢购</a>
                        </div>
                        <p>
                            【吃货必备】手撕牦牛肉：耗牛肉有嚼劲，口感十足，也是成都最富有特色小吃之一~
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_ssnrg.jpg" alt="cd_collection_ssnrg.jpg"/>
                        <div class="ticket no-mt">
                            <div class="left">
                                <div class="title">手撕牦牛肉</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/221" class="right">立即抢购</a>
                        </div>
                        <p>
                            四川特产组合精美礼包：觉得只买一种太单调了？小简还为你准备了贴心四川特产组合大礼包！只买一个就能吃到多种美味，也是个不错的选择嘛~
                        </p>
                        <img class="pb10" src="/images/cd/cd_collection_dlb.png" alt="cd_collection_dlb.png"/>
                        <div class="ticket no-mt">
                            <div class="left">
                                <div class="title">四川特产组合精美礼包</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/140" class="right">立即抢购</a>
                        </div>
                        <p>大龙燚火锅底料：最后如果想要感受真正四川的辣，那么大龙燚火锅出名的就是辣，成都人在大龙焱点锅都要考虑考虑是要微辣还是中辣的，所以可想而知，大龙燚的威力。所以如果想要尝试四川火辣滋味的朋友可以直接在简途的途中购里直接选择大龙双人火锅套餐或者直接去店里吃个过瘾啦，进一步感受胃里香辣翻涌的感觉~</p>
                        <img class="pb10" src="/images/cd/cd_collection_dlylh.jpg" alt="cd_collection_dlylh.jpg"/>
                        <div class="ticket no-mt no-mb">
                            <div class="left">
                                <div class="title">大龙燚火锅底料</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/182" class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title hotel">
            住在成都:感受慢节奏下的安逸生活
        </div>
        <div class="collection_desc">
            <p>
                天府广场：成都市中心，临近春熙路，大部分外地游客来到成都都会选择住在这里~
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group">
                        <p class="gTitle">成都拖板鞋青年旅舍</p>
                        <p>
                            成都拖板鞋青年旅舍大概和很多青年旅舍都有着相似的魅力。艺术、旅行、自由，运气好的话你还会遇见各种各样的分享会，听五湖四海的朋友讲走在路上的故事。
                        </p>
                        <img src="/images/cd/cd_collection_tbx.jpg" alt="cd_collection_tbx.jpg"/>
                    </div>
                    <div class="group">
                        <p>花样年·隆堡酒店</p>
                        <p>
                            花样年·隆堡酒店距离春熙路步行仅需五分钟，太古里仅需三分钟，简直就跟着住在太古里一样。周围遍布春熙路的各色小吃，各种娱乐需求都能被完美满足。作为春熙路众多五星酒店之一，花样年隆堡在位置上占尽了优势,当然服务水平和酒店环境依旧保持五星酒店的一贯的高品质~
                        </p>
                        <img src="/images/cd/cd_collection_hyn.jpg" alt="cd_collection_hyn.jpg"/>
                    </div>
                    <div class="group no-pb">
                        <p>金海岳酒店</p>
                        <p>
                            玩过了青旅，享受过了五星，最后我们来瞧一瞧平价又舒适的酒店。金海岳同样位于天府广场商圈，酒店旁边就是富力天汇，一个集娱乐美食购物于一体的大商场~交通各种方便，价格也很接地气，所以来成都不妨来这里住一下吧~
                        </p>
                        <img src="/images/cd/cd_collection_jhy.jpg" alt="cd_collection_jhy.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">金海岳酒店</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/183" class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            娱在成都：川剧还是变脸，感受成都传统的魅力
        </div>
        <div class="collection_desc">
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p>
                            喝茶听戏，是成都休闲生活的最好体现，那么下面就跟着小简来感受一下成都的休闲生活~<br/>
                            蜀风雅韵，它就位于当年卓文君和司马相如谈情说爱卖酒的琴台路，在一个百年梨园老四合院里，不仅能品到传统盖碗茶，还能体验到捶背、掏耳朵，画戏装穿戏服。是不是别有一种风情？
                        </p>
                        <p>小简必须得告诉大家，蜀风雅韵也是成都唯一可以进入化妆后台的戏院哦~如果你对川剧感兴趣，就一定不能错过这里了，毕竟法国总理希拉克、泰国公主诗林通来成都都曾经在此喝茶穿戏服画戏装看川剧的~</p>
                        <img src="/images/cd/cd_collection_sfyy1.jpg" alt="cd_collectionsfyy1.jpg"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">金海岳酒店</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/128" class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group no-pb">
                        <p>
                            作为国粹，变脸也成为了四川的一个艺术代表，更成为了每个来到成都都不可错过的一个重要节目。变脸过程的神秘总是会让人不禁想要去探究其中的奥妙。<br/>
                            芙蓉国粹传奇变脸秀算是成都相当有名的变脸秀了，每次演出都能收获一片赞叹声。不去看看的话说不定会后悔哦
                        </p>
                        <img src="/images/cd/cd_collection_sfyy2.jpg" alt="cd_collectionsfyy2.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">金海岳酒店</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/186" class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/cd/home.html">去查看全部九寨沟攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>