<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小简为你采集吃住娱</title>
    <link href="/css/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/collection_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在峨眉-《孤独星球》都说好吃
        </div>
        <div class="collection_desc">
            <p>
                游完了美景，当然少不了尝尝当地美食了。来到四川、来到峨眉怎么吃，吃什么？请接着往下看~
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group">
                        <p class="gTitle">川菜</p>
                        <p>
                            正所谓“食在中国，味在四川”，遍尝川菜是很多游客来川旅游的一条主线。在2015年的《孤独星球》上被评为峨眉山酒店榜首的幸福树酒店，其中一绝就是老板娘登峰造极的厨艺，真正是充满“幸福味”，让人无法忘怀。喜欢吃川菜的朋友可以去尝试一下。
                        </p>
                        <img src="/images/ems/ems_collection_cc.jpg" alt="ems_collection_cc.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">（幸福味）特色自选双人套餐</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>48</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/152"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group">
                        <p class="gTitle">特色餐</p>
                        <p>
                            跷脚牛肉是乐山的名片之一，在峨眉山你也能品尝到可以吃进肚的“非物质文化遗产”。峨眉山“老字号”的尽膳口福跷脚牛肉，传承了传统翘脚牛肉的精髓，并在此基础上加入了养生的功效，原材料取自峨眉山高山牛，汤料根据24节气添加不同滋补药料煲制，具有牛肉与药膳特有的浓香。环境雅致，位于城市中的四合院，号称是翘脚牛肉行业中“头等舱”、“旗舰店”、LV…到底如何，你一去便知。
                        </p>
                        <img src="/images/ems/ems_collection_qjnr.jpg" alt="ems_collection_qjnr.jpg"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">【峨眉特产】跷脚牛肉汤锅双人餐</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>236</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/152"
                               class="right">立即抢购</a>
                        </div>
                        <p>
                            在峨眉山市区至景区的途中有一家路桥萝卜汤，
                            这是峨眉山非常著名的一家餐馆，招牌菜是萝卜汤和泡笋。萝卜汤是先用新鲜猪骨和猪膀熬成鲜汤后，再放入峨眉山龙池特产萝卜，汤浓味美，萝卜香甜，猪膀肥而不腻。值得一提的是它家的泡笋，选用峨眉山新鲜竹笋，清爽鲜嫩，与萝卜汤相辅相成，一荤一素，一绿一白，令人垂涎。
                            注意：萝卜汤可以“无限续杯”，而且除肉外，汤和萝卜都可以无限量地添加。
                        </p>
                        <img src="/images/ems/ems_collection_lqlbt.jpeg" alt="ems_collection_lqlbt.jpeg"/>
                    </div>
                    <div class="group no-pb">
                        <p class="gTitle">小吃</p>
                        <p>
                            位于峨眉山市中心繁华地带的好吃街，里面的小吃数不胜数，具体位置在峨眉山市白龙南路峨眉大厦旁，仅300米长的街道就有摊位200余家摊位。每当夜幕降临，“好吃街”总是灯火辉煌、人声鼎沸，这里的小吃绝对可以让你大饱口福，真正领略到地道的峨眉美食。好吃街通宵营业，且价格便宜。推荐小吃：牛肉豆花、叶儿粑、鹵鴨、峨眉糕、峨秀糕…<br/>
                            除了美食以外，峨眉山的茶叶也很出名。
                        </p>
                        <img src="/images/ems/ems_collection_hcj.jpg" alt="ems_collection_hcj.jpg"/>
                        <p class="pt10">
                            峨眉雪芽，始出于山中道、佛两门，长期以来不仅被道佛两门视为防治各种疾病，排毒养颜、久服轻身（瘦身）、延年益寿的养生饮品，而且在唐、宋、明、清一千多年的历史上，一直作为贡茶敬献朝廷。峨眉雪芽绿茶中所含的茶多酚、茶嘌呤、维生素B族维生素、多糖、氨基酸等主要营养成分均远远高过许多中国名茶，不管是自用还是送礼，都属上品。</p>
                        <img src="/images/ems/ems_collection_emxy.jpg" alt="ems_collection_emxy.jpg"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">【峨眉特产】雪芽·茶礼3件礼品装</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>48</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/217"
                               class="right">立即抢购</a>
                        </div>
                        <p>
                            峨眉山雪魔芋属于峨眉山特产，也是当地僧人的传统食品，金顶具备制作魔芋得天独厚的自然条件，魔芋经掩埋于冰雪之中冻结后，内部形成许多小孔，烹调时更易入味，具有质地松软，入口味鲜，香而不腻，风味独特，是各大寺庙款待游客的主要菜肴，雪魔芋的名声因此而享誉四海。食用方法：经温水泡成海绵状，压干水份切成片，条，
                            块，可与鸡，鸭，牛，猪肉等肉类红烧，也可做素食，属纯天然无污染食品。</p>
                        <img src="/images/ems/ems_collection_xmy.jpg" alt="ems_collection_xmy.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">【峨眉特产】雪魔芋（自提）</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>48</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/224"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title hotel">
            住在峨眉-位置选好了更方便
        </div>
        <div class="collection_desc">
            <p>玩了一天，也该找地方休息了。</p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group">
                        <p class="gTitle">报国寺景区酒店</p>
                        <p>
                            朋友们，请认真的告诉我，一个酒店，除了吃饭睡觉外，还能提供些这样那样以及什么样的服务呐？还是上面提到过的《孤独星球》推荐的幸福树酒店，位于报国寺风景区内，地理位置优越。推开窗户，群山高低起伏，云雾缭绕。酒店的一楼设有餐厅“幸福味”，受到顾客的一致好评。老板夫妇非常热情，会给客人提供非常多有用的信息与帮助，整理好的线路攻略、免费的旅游图、竹竿和游玩攻略等等，以及为下山客人准备的洗衣机、烘干设备。
                        </p>
                        <img src="/images/ems/ems_collection_xfs.jpeg" alt="ems_collection_xfs.jpeg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">峨眉山喜雨树酒店</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>48</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/19"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group">
                        <p class="gTitle">红珠山宾馆</p>
                        <p>
                            红珠山宾馆作为曾经的蒋介石行宫，与名刹“报国寺”相距不足200米。可闻晨钟暮鼓，尽沾仙山之灵气。宾馆占地面积近44万平方米，地理位置得天独厚，馆内古木参天、绿水环绕、鸟语花香，幢幢别墅镶嵌于峨眉山林海碧波之中，大大小小的温泉池错落在森林当中，清静，优雅，仿佛变成了森林里的妖精。自然环境无与伦比，素有“园林宾馆，森林酒店”之美誉。
                        </p>
                        <img src="/images/ems/ems_collection_hzs.jpeg" alt="ems_collection_hzs.jpeg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">峨眉山红珠山森林温泉</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>300</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/69"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group">
                        <p class="gTitle">金顶上的酒店</p>
                        <p>
                            金顶大酒店位于世界文化与自然遗产峨眉山之巅金顶，海拔3079米，浮于云海之上，隐于仙雾之中。酒店毗邻天下第一金佛四面十方普贤，终日佛光普照，可汲仙山之灵气，集日月之精华。
                        </p>
                        <p>
                            金顶除了金顶大酒店外，还有三家农家酒店：金顶山庄、金龙旅饭店、乡怀里饭店，相对金顶大酒店要便宜些。住在雷洞坪也可以，雷洞坪离金顶还有七点五公里，但是可以先从雷洞坪步行一公里半到接引殿，只需要二十几分钟，到了接引殿就可以乘坐索道上金顶.</p>
                        <img src="/images/ems/ems_collection_jddjd1.jpeg" alt="ems_collection_jddjd1.jpeg"/>
                    </div>
                    <div class="group no-pb">
                        <p class="gTitle">高铁站附近峨眉院子</p>
                        <p>
                            比特城邦青年旅舍位于峨眉山峨秀湖风景区，紧靠高铁峨眉山站，距天下名山牌坊约500米、距离报国寺约2公里。其致力于打造集住宿、餐饮、旅行、文化交流为一体的综合精品客栈，希望向留宿者展示一种健康、回归、开放、友好、自律的生活方式。比特城邦颠覆常规旅店酒店住宿，开放性全的书吧、咖啡吧、酒吧、超广阔的交流活动大厅，超生态的自然外围环境，为留宿者建立一个价格合理、舒居体验、文化氛围浓厚且能够自由、友好地交流沟通的地盘。
                        </p>
                        <img src="/images/ems/ems_collection_btbc.png" alt="ems_collection_btbc.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            玩在峨眉-精神和身体的共同享受
        </div>
        <div class="collection_desc">
            <p>
                峨眉山有五绝，没听说过？那小简来解惑：日出、云海、佛光、圣灯、温泉。<br/>
                峨眉山主峰金顶绝壁凌空，高插云霄，巍然屹立。有机会登临其间，才能体验到前四绝的盛景，而佛光和圣灯更是可遇不可求，所以大家尽可能的放宽心态，没见到也不用扼腕。而五绝之一的温泉若是大家有时间的话不妨一试.
            </p>
            <img class="pt10 pb10" src="/images/ems/ems_collection_emsjd.jpg" alt="ems_collection_emsjd.jpg"/>
            <p>
                很多地方都有温泉，那为什么要在峨眉山泡呢？因为闻名于巴蜀的灵秀温泉是中国最大的露天氡温泉生态浴场。氡温泉无色无味，再也不用担心泡完温泉满身硫磺味，变成狗不理~并且氡温泉可以改善皮肤病、风湿、高血压、心脏病等症状，联合国专家称它为“不老泉”和“祛病泉”。小简去泡过一次，精神病就痊愈了，整个人精神抖擞！</p>
            <img class="pt10" src="/images/ems/ems_collection_emswq.jpg" alt="ems_collection_emswq.jpg"/>
            <div class="ticket">
                <div class="left">
                    <div class="title">峨眉山喜雨树酒店</div>
                    <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>48</span>
                                </span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/70" class="right">立即抢购</a>
            </div>
            <p>
                白天的你已经领略过了峨眉山的灵秀奇玄，但在你不知道的夜晚，一幅充满巴风蜀韵的禅意画卷正在徐徐展开。采茶姑娘、喜剧滚灯、嬉闹戏虐间将你带入四川的民间，再到非物质文化遗产的川北木偶戏《长绸舞》，从宇宙洪荒辗转到今日的峨眉圣象，故事禅理娓娓道来…这就是浓缩了峨眉山原汁原味的地方特色的圣象峨眉晚会，从“幻，雅，灵，蜀，刚，梦，禅”
                七个部分，用90分钟的时间让你品味四川独特的民俗风情，于静逸中再现峨眉山水的秀美绝伦，于淡雅中享受旅游文化带来的乐趣。</p>
            <img class="pt10" src="/images/ems/ems_collection_sxem.jpg" alt="ems_collection_sxem.jpg"/>
            <div class="ticket no-mb">
                <div class="left">
                    <div class="title">峨眉山喜雨树酒店</div>
                    <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>48</span>
                                </span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/74" class="right">立即抢购</a>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/ems/home.html">去查看全部峨眉山攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>