<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>九寨沟景区玩法</title>
    <link href="/css/guide/play.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main">
    <div class="top_banner">
        <img src="/images/play_top_banner.png" alt="banner"/>
    </div>
    <div class="content">
        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title ticket">
                门票详情
            </div>
            <div class="play_desc">
                <div class="product_ticket first">
                    <div class="product_name">九寨沟门票：</div>
                    <div class="low_season">
                        <span class="label">旺季（4月1日-11月15日）</span>
                        <span class="price">220.00元</span>
                    </div>
                    <div class="busy_season">
                        <span class="label">淡季（11月16日-次年3月31日）</span>
                        <span class="price">80.00元</span>
                    </div>
                </div>
                <div class="product_ticket">
                    <div class="product_name">观光车票：</div>
                    <div class="low_season">
                        <span class="label">旺季（4月1日-11月15日）</span>
                        <span class="price">90元/人</span>
                    </div>
                    <div class="busy_season">
                        <span class="label">淡季（11月16日-次年3月31日）</span>
                        <span class="price">80元/人</span>
                    </div>
                </div>
                <div class="ticket no-mb">
                    <div class="left">
                        <div class="title">九寨沟风景区门票＋观光车</div>
                        <div class="detail">
                            <span class="label">抢购价</span>
                            <span>310元</span>
                        </div>
                    </div>
                    <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/41"
                       class="right">立即抢购</a>
                </div>
            </div>
        </div>
        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title spot">
                景点介绍
            </div>
            <div class="play_desc">
                <img class="map" src="/images/jzg/jzg_play_map.png" alt="map"/>
                <div class="text_content">
                    <p>
                        山明水秀，郁郁葱葱，九寨归来不看水的俗语一直流传至今。来一趟九寨，看尽了美景，净化了心境，再尝一尝九寨美食，岂不乐哉美哉？
                    </p>

                    <p>
                        九寨沟关键词：各种海，各种沟，各种瀑布（总之就是九寨的水最美），寺庙，原始森林，温泉</p>

                    <p>
                        是不是在各种眼花缭乱的景点推荐里患上了选择困难症？<br/>
                        别急，待小简来给你慢慢整理游览九寨的各种路线，让你放心更省心！</p>

                    <p class="last">
                        我们从图中可以看出，九寨沟的地形呈Y字型，所以目前九寨已经开通的三条主要旅游路线也是根据这个形状来安排的，三条路线分别为树正沟风景线、日则沟风景线、则查洼沟风景线。
                    </p>
                </div>
            </div>
        </div>
        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title location">
                树正沟
            </div>
            <div class="play_desc">
                <div class="text_desc">
                    树正沟处于九寨沟风景区“Y”型布局的下支（左支为则查洼沟，右支为日则沟）。从沟口起到诺日朗瀑布，全长约14公里，共有各种湖泊（海子）40余个，约占九寨沟景区全部湖泊的40%。
                </div>
                <div class="img_desc">
                    <img src="/images/jzg/jzg_play_szg.jpg" alt="jzg_play_szg.jpg"/>
                </div>
            </div>
        </div>

        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title location">
                日则沟
            </div>
            <div class="play_desc">
                <div class="text_desc">
                    日则沟处于九寨沟风景区“Y”型布局的右支，从诺日朗瀑布到原始森林，全长18公里，是九寨沟的精华部分。风光绝美，变化多端。
                </div>
                <div class="img_desc">
                    <img src="/images/jzg/jzg_play_rzg.jpg" alt="jzg_play_rzg.jpg"/>
                </div>
            </div>
        </div>
        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title location">
                则查洼沟
            </div>
            <div class="play_desc">
                <div class="text_desc">
                    <p>则查洼沟处于九寨沟风景区“Y”型布局的左支，从诺日朗服务中心至长海，长近18公里，是九寨沟内海拔最高的一条游览路线，景点集中在沟的尽头。</p>
                    <p>
                        这就是九寨沟的一个基本的景区概况啦~景区内部全程都有观光车为大家服务，一般来说进入景区后，我们会观光车到日则沟的最高点-原始森林或者则查洼沟的最高点-长海，这个要看景区的淡旺季的观光车安排。到达最高点之后，我们就可以依次向下愉快的玩耍了，每个景点之间都可以搭乘观光车的，既可以为大家节省体力也可以节省游玩时间。
                    </p>
                    <p class="last">
                        在“Y”字路线的中心点的诺日朗游客服务中心可以换乘观光车，前往对向的路线，一路接着玩儿。主要的路线有了，我们该考虑在哪个地方可以停留更久，哪些地方非去不可。小简这么贴心当然都为你准备好了~还请你接着往下看
                    </p>
                </div>
                <div class="img_desc">
                    <img src="/images/jzg/jzg_play_zcwg.jpg" alt="jzg_play_zcwg.jpg"/>
                </div>
            </div>
        </div>
        <div class="recommend">
            <div class="re_title">小简必去景点推荐</div>
            <div class="re_content">
                <div class="play">
                    <!--ticket|spot|location-->
                    <div class="play_title location">
                        五花海
                    </div>
                    <div class="play_desc">
                        <div class="text_desc">
                            <p>
                                五花海位于九寨沟的日则沟中段，孔雀河上游，由于海底的钙华沉积、各种颜色的藻类以及岸边五彩的林木倒影而呈现出五颜六色。十月份是五花海最漂亮的时候，这个季节湖水清澈见底，岸边呈七种颜色的树叶与水中倒影交织纠缠，让人眼花缭乱。走在西侧的栈道，细细品味九寨五彩斑斓的美。</p>
                            <p class="last">顺着日则沟一路下来，还有更多惊喜哦，在日则沟的下方，有着珍珠滩和珍珠滩瀑布两处奇观。</p>
                        </div>
                        <div class="img_desc">
                            <img src="/images/jzg/jzg_play_whh.jpg" alt="jzg_play_whh.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="play">
                    <!--ticket|spot|location-->
                    <div class="play_title location">
                        珍珠滩
                    </div>
                    <div class="play_desc">
                        <div class="text_desc">
                            珍珠滩上分布很多大大小小的坑洞，自上而下的激流在坑洞中相互碰撞，溅起无数的细小的水花，在阳光照射下，点点水珠似珍珠洒落，“珍珠滩”之名由此而来。迅猛的激流在斜滩上前行200米，就到了斜滩的悬崖尽头，冲出悬崖跌落在深谷之中，形成了雄伟壮观的珍珠滩瀑布。这里有微微的水汽，壮阔的的景观，你是否也想来感受一下心灵的洗礼呢？
                        </div>
                        <div class="img_desc">
                            <img src="/images/jzg/jzg_play_zzt.jpg" alt="jzg_play_zzt.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="play">
                    <!--ticket|spot|location-->
                    <div class="play_title location">
                        镜海
                    </div>
                    <div class="play_desc">
                        <div class="text_desc">
                            继续向前走，小简推荐大家去镜海看一看。镜海就像一面镜子，将地上和空中的景物毫不失真地复制到了水里。镜中雪峰、林岚倒映，细观水中的倒影比真正的实景显得更加婀娜多姿，堪你九寨沟绝景之一。每当晴朗之日的上午9:00前，下午17:00是欣赏镜海的最佳时间。镜海的亦幻亦真，让你在虚实之间更能体会九寨的绝美。
                        </div>
                        <div class="img_desc">
                            <img src="/images/jzg/jzg_play_jh.jpg" alt="jzg_play_jh.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="play">
                    <!--ticket|spot|location-->
                    <div class="play_title location">
                        芦苇海
                    </div>
                    <div class="play_desc">
                        <div class="text_desc">
                            <p>
                                在诺日朗换乘观光车前往则渣洼沟，到达顶点长海，再慢慢走下来的过程中，小简认真推荐五彩池给各位同游的情侣们~
                            </p>
                            <p class="last">
                                五彩池深藏于山路下边的深谷中，一种大隐隐于市的错觉，五彩池海拔2995米，是九寨沟最小的海子，然而它的色彩的丰富程度一都不逊色于五花海。重点来了，据说如果情侣能够顺着台阶下到五彩池边，默默地许个愿，再爬上189级台阶，就一定能够相爱终生。在这样美醉了的地方一起走一走又何尝不是一种幸福呢？
                            </p>
                        </div>
                        <div class="img_desc">
                            <img src="/images/jzg/jzg_play_lwh.jpg" alt="jzg_play_lwh.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="play">
                    <!--ticket|spot|location-->
                    <div class="play_title location">
                        五彩池
                    </div>
                    <div class="play_desc">
                        <div class="text_desc">
                            <p>
                                “Y”字的两边玩完了，乘坐观光车往回走，会途径芦苇海，芦苇海是一个半沼泽形态的湖泊，海中芦苇丛生，一眼看到底的清流宛如一条玉带从成片成片的芦苇丛中蜿蜒流过，静谧而幽静，春夏之际，芦苇翠绿与水天一色；秋冬之际，芦苇一片金黄。眼前的景色让人诧异于大自然的色彩竟如此丰富。
                            </p>
                            <p class="last">
                                以上就是小简为大家推荐的九寨一日游的基本路线和必游景点，是不是有点心动了呢？别急，这还只是景点的推荐，接下来小简还将给大家带来吃住行的各种推荐，一次性贴心服务到家~
                            </p>
                        </div>
                        <div class="img_desc">
                            <img src="/images/jzg/jzg_play_wcc.jpg" alt="jzg_play_wcc.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom_banner">
            <img src="/images/bottom_banner@3x.png" alt="banner"/>
        </div>
        <footer>
            <a href="/views/guide/jzg/home.html">去查看全部九寨沟攻略</a>
        </footer>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>