<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>旅行小贴士</title>
    <link href="/css/tips.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/tips_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="tips">
        <!--tips|travel-->
        <div class="tips_title tips">
            注意事项
        </div>
        <div class="tips_desc">
            <p>
                在游览熊猫基地的时候小简想提醒大家一些需要注意的事项，胖达们辣么可爱，我们一定要用心去爱护它们哦~
            </p>
            <p>
                1.请不要大声喧哗，不要随便发出异常、尖利的声音，这样会惊扰野生动物。大熊猫等动物们天生喜欢安静的环境，对喧闹敏感。为了保障您的参观效果，请尊重它们的生活习惯，保持一个宁静的环境。
            </p>
            <p>
                2.如果拍照，请不要用闪光灯，特别是熊猫幼仔，它们的眼睛对光非常的敏感，闪光很可能伤害到它们。 
            </p>
            <p>
                3.不要给动物喂食，您的食物并不适合它们，也不要采摘基地的竹子喂熊猫。熊猫每天的食物都是饲养员每天定量供给的。 
            </p>
        </div>
    </div>
    <div class="tips">
        <!--tips|travel-->
        <div class="tips_title travel">
            旅行必备
        </div>
        <div class="tips_desc">
            <p>1、熊猫基地内部的餐厅和饮用水价格都较高，所以小简提醒大家可以自己准备水和干粮带进景区~</p>

            <p>2、如果天气较晒，小简也提醒大家注意身体的防晒等。</p>

            <p class="last">3、景区内只有诺日朗一个用餐点，价格较贵，大家可以提前买些干粮带上。</p>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/xmjd/home.html">去查看全部熊猫基地攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>