<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>都江堰景区玩法</title>
    <link href="/css/play.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/play_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title spot">
            景点介绍
        </div>
        <div class="play_desc">
            <img class="map" src="/images/djy/djy_play_map.png" alt="map"/>
            <div class="text_content">
                <p>
                    都江堰可谓是成就成都天府之国美称的一个功臣，为什么这么说呢？听小简来跟你细细道来，很久很久以前，成都是一个水旱灾害非常严重的地方，洪涝灾害频发，是蜀郡太守李冰父子在前人鳖灵开凿的基础上组织修建的大型水利工程，由分水鱼嘴、飞沙堰、宝瓶口等部分组成，两千多年来一直发挥着防洪灌溉的作用，使成都平原成为水旱从人、沃野千里的"天府之国"。
                </p>
                <p>
                    都江堰关键词：水利工程、小吃丰富
                </p>
                <p>下面来跟着小简看看都江堰的具体游玩路线：</p>
                <p>
                    到达都江堰之后，我们进入景区走过堰工大道，顺路就可以参观伏龙观、宝瓶口、飞沙堰、然后走到鱼嘴，大约只需要走十分钟哦，有观光车可以往返。其实走一走也是很舒服的，因为都江堰内部的景色也非常的优美，空气清新，既然来了就放松一下心情。之后我们走过安澜索桥，参观二王庙，体力好、时间够的盆友就可以走走茶马古道、爬上玉垒山俯瞰都江堰的全貌，大约一小时就可以游览完全部景点咯！
                </p>
                <p class="last">
                    那都江堰有哪些不能错过的景点呢？顺着游玩路线，看小简给你慢慢介绍：
                </p>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            伏龙观
        </div>
        <div class="play_desc">
            <div class="text_desc">
                先看到伏龙观，伏龙观位于离堆公园内。其下临深潭，传说因李冰父子治水时曾在这里降伏孽龙在离堆之下，故于北宋初年改祭李冰，取名“伏龙观”。现存殿宇三重，前殿正中立有东汉时期（公元25～220年）所雕的李冰石像。殿内还有东汉堰工石像、唐代金仙和玉真公主在青城山修道时的遗物——飞龙鼎。
            </div>
            <div class="img_desc">
                <img src="/images/djy/djy_play_flg.jpg" alt="djy_play_flg.jpg"/>
            </div>
        </div>
    </div>

    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            安澜索桥
        </div>
        <div class="play_desc">
            <div class="text_desc">
                安澜索桥又名“安澜桥”、“夫妻桥”。位于都江堰鱼嘴之上，横安澜桥跨内外两江，被誉为“中国古代五大桥梁”，是都江堰最具特征的景观。始建于宋代以前，明末（公元17世纪）毁于战火。古名“珠浦桥”，宋淳化元年改“评事桥”，清嘉庆建新桥更名为“安澜桥”。原索桥以木排石墩承托，用粗竹缆横挂江面，上铺木板为桥面，两旁以竹索为栏，全长约500米，桥为钢索混凝土桩。
            </div>
            <div class="img_desc">
                <img src="/images/djy/djy_play_alsq.jpg" alt="djy_play_alsq.jpg"/>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            二王庙
        </div>
        <div class="play_desc">
            <div class="text_desc">
               <p>二王庙位于岷江右岸的山坡上，前临都江堰，原为纪念蜀王的望帝祠，齐建武（公元494～498）时改祀李冰父子，更名为“崇德祠”。宋代（公元960～1279年）以后，李冰父子相继被皇帝敕封为王，故而后人称之为“二王庙”。庙内主殿分别供奉有李冰父子的塑像，并珍藏有治水名言、诗人碑刻等。建筑群分布在都江堰渠首东岸，规模宏大，布局严谨，地极清幽。是庙宇和园林相结合的著名景区。</p>
            </div>
            <div class="img_desc">
                <img src="/images/djy/djy_play_ewm.jpg" alt="djy_play_ewm.jpg"/>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/guide/djy/home.html">去查看全部都江堰攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>