<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小简为你采集吃住娱</title>
    <link href="/css/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/collection_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在都江堰-小吃好味，夜啤酒醉人
        </div>
        <div class="collection_desc">
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group">
                        <p class="gTitle">小吃</p>
                        <p>
                            先说小吃，都江堰有非常多的当地小吃看，很多都很值得一试。葱葱卷算是都江堰的土著小吃，要问何时开始盛行，就连本地人也说不清楚。但在五桂桥街、三方半巷子等地，“葱葱卷”的队伍就占了半壁江山。没有正规店面，在街边几张矮桌椅坐下，老板就会端上一碟面皮，几小碟萝卜丝、莴笋丝，卷好蘸上秘制调料，塞进口里，舌尖上分泌出麻辣酸甜的滋味。这种感觉实在是太奇妙了。
                        </p>
                        <img src="/images/djy/djy_collection_ccj.jpg" alt="djy_collection_ccj.jpg"/>
                    </div>
                    <div class="group">
                        <p class="gTitle">家常菜</p>
                        <p>
                            成都人爱吃兔头是非常出名的，据说成都一年可以吃掉两亿个兔头。<br/>
                            尤兔头位列成都地区四大兔头之首，现在已经发展为都江堰的招牌美食，去到都江堰的人一定要前来尝尝。<br/>
                            去到老字号尤兔头家常菜馆，先点几个兔头，看看这个如此出名的兔头能不能满足一个吃货的胃，再点几个家常川菜，一顿饱餐，美的不行~写到这里，小简都已经快按捺不住激动的心情了，擦擦口水先。<br/>
                        </p>
                        <img src="/images/djy/djy_collection_ytt.jpg" alt="djy/djy_collection_ytt.jpg"/>
                    </div>
                    <div class="group">
                        <p class="gTitle">夜宵</p>
                        <p>
                            如果今天一天都可以留在都江堰的话，到了晚上可以去夜啤酒长廊里感受一下都江堰夜风吹拂下的不一样的夜生活。喝喝小酒，吃吃河鲜，吹吹小风，和三两好友一起谈天说地，感受自在的惬意生活。小简友情提示，都江堰的夜啤酒长廊的个人消费会比较高哦，人均在100元左右，请大家酌情消费，提前把钱包装满了最好~
                        </p>
                        <img src="/images/djy/djy_collection_ypjcl.jpg" alt="djy/djy_collection_ypjcl.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title hotel">
            住在都江堰-熊猫萌萌，客栈温馨
        </div>
        <div class="collection_desc">
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group">
                        <p class="gTitle">民宿</p>
                        <p>
                            如果想要感受淳朴的民风的朋友，又想要经济实惠的朋友，小简为你准备了一家好评率炒鸡高的民宿客栈-都江堰泉欣客栈，据各位游客们的实力推荐介绍，老板娘人非常棒非常热情，可以接送哦，客栈装修比较简单，但是非常干净，住起来很舒适哦~小简觉得相信大家的推荐一定没错的。
                        </p>
                        <img src="/images/djy/djy_collection_qx.jpeg" alt="djy_collection_qx.jpeg"/>
                    </div>
                    <div class="group no-pb">
                        <p class="gTitle">萌萌酒店</p>
                        <p>
                            不管是看过还是没看过大熊猫的你，想不想再和大熊猫们来一次亲密接触呢？去熊猫驿站酒店住一晚吧！大熊猫的内饰，抱枕，椅子，杯子，喜欢的胖达的你一定不能错过呦，住进去就能变得萌萌哒~酒店位置也非常好，一出酒店就是步行街和小吃街，非常便利。
                        </p>
                        <img src="/images/djy/djy_collection_xmyz0.jpeg" alt="djy_collection_xmyz0.jpeg"/>
                        <img src="/images/djy/djy_collection_xmyz1.jpeg" alt="djy_collection_xmyz0.jpeg"/>
                        <img src="/images/djy/djy_collection_xmyz2.jpeg" alt="djy_collection_xmyz0.jpeg"/>
                        <img src="/images/djy/djy_collection_xmyz3.jpeg" alt="djy_collection_xmyz0.jpeg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">熊猫驿站文化主题酒店</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>300</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/147" class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            玩在都江堰-经典重现，震撼心灵
        </div>
        <div class="collection_desc">
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p class="gTitle">放水大典</p>
                        <p>
                            来到都江堰，就来感受一下一年一度的放水大典吧，“放水节”正式确立于公元978年，距今已有1000多年的历史。初以放水仪式区隔岁修，后用以祭祀修建都江堰水利工程的李冰父子，祈求五谷丰登、国泰民安的一项传统文化活动，也代表着一年春耕的开始。“砍杩槎……放水!”一声令下，滚滚岷江水，奔腾而下，沃野千里，润泽成都平原，一年一度的都江堰放水节即将到来。据悉，本届放水节可谓亮点纷呈，活动内容除了再现“古法治水”、郡守巡游、展现四川省非物质文化遗产“薅秧歌”等项目外，还融入多项熊猫元素，如再现“熊猫村”、“百只熊猫打太极”等特色节目。如果有幸能够在放水节来到都江堰的朋友，就一定不要错过这个节目哦~
                        </p>
                        <img src="/images/djy/djy_collection_fsdd.jpg" alt="djy_collection_fsdd.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">放水大典《道解都江堰》演出</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>120</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/151" class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/djy/home.html">去查看全部都江堰攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>