<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小简为你采集吃住娱</title>
    <link href="/css/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/collection_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在成都-无辣不欢
        </div>
        <div class="collection_desc">
            <img class="mb10" src="/images/xmjd/img1.jpg" alt="baiguodunji.jpg"/>
            <p>
                小简知道很多朋友来成都的一个主要目的就是吃，成都小吃闻名天下，更是有川菜和火锅两大必杀器，以至于在成都美食江湖上鲜有对手，并长期占据统治地位。
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        川菜
                    </p>
                    <p>
                        川菜用自己的色香味牢牢占据着八大菜系的首位地位，也占据着全国人民的胃。最出名的代表菜品有鱼香肉丝、宫保鸡丁、夫妻肺片、麻婆豆腐、回锅肉、东坡肘子等。是不是不敢相信这些耳熟能详的菜名居然全部都是川菜~下面小简就推荐在成都吃川菜的好去处：
                        陈麻婆豆腐算是一个川菜的大集锦，在这里点上一份招牌麻婆豆腐，感受麻辣香鲜嫩的豆腐在口中翻滚的感觉真的是好到爆炸。再配上几个川菜名菜，宫保鸡丁，鱼香肉丝，水煮肉片，保准让你的胃满意的回家！
                    </p>
                    <img class="mb10" src="/images/xmjd/chuancai.jpg" alt="chuancai.jpg"/>
                    <p>火锅</p>
                    <p>
                        再来说说到我们四川的火锅，说闻名于世界一点也不夸张，小简摸着自己的良心推荐给大家几家靠味道出名的火锅店。蜀九香是外地朋友们比较熟悉的一家火锅店，味道也是比较适合大众口味，如果去了蜀九香小简推荐大家点一点他家的特色的九香牛肉，说出来不怕大家笑话，小简第一次吃的时候点了四盘。蜀九香的消费在成都火锅中是属于消费稍微较高的，大家可以根据自己的情况来选择。
                    </p>
                    <img class="mb10" src="/images/xmjd/huoguo.png" alt="huoguo.png"/>
                    <p>
                        再说一家巴蜀大宅门，成都本地人比较喜欢光顾的一家平价火锅店，坊间流传着说吃火锅一定要去一家里面食客都讲四川话的火锅店。那么巴蜀大宅门一定满足这个条件，每逢周末节假日，刚过五点店外就已经开始排起长队。话说小简曾经排过98桌，两个半小时，为了吃个火锅也是拼了。
                    </p>
                    <img class="mb10" src="/images/xmjd/dazhaimen.png" alt="dazhaimen.jpg"/>
                    <p>最后如果想要感受真正四川的辣，那么大龙燚火锅出名的就是辣，成都人在大龙焱点锅都要考虑考虑是要微辣还是中辣的，所以可想而知，大龙燚的威力。所以如果想要尝试四川火辣滋味的朋友可以直接在简途的途中购里直接选择大龙双人火锅底料套餐或者直接去店里吃个过瘾啦，进一步感受胃里香辣翻涌的感觉~</p>
                    <div class="ticket no-mb">
                        <div class="left">
                            <div class="title">大龙燚火锅双人套餐</div>
                            <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>149</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>149</span>
                                </span>
                            </div>
                        </div>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/83" class="right">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            玩在成都-安逸自在
        </div>
        <div class="collection_desc">
            <!--<p>-->
                <!--玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！-->
            <!--</p>-->
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p>闲逛</p>
                        <p>
                            慢节奏一直都是成都的一个城市代名词，从清晨到日暮，成都用自己的节奏慢慢的前进着。在这里生活的人们也大都是安逸自在的，所以既然来到了成都，小简就建议慢下来，跟着成都人的节奏，自在生活几天，感受一下这个现代城市下每个人的生活情趣。
                            预留给成都一天的时间，在这个城市安静的逛一逛。早上去锦里感受西蜀历史上最古老的街道之一的韵味，看看吹糖人，喂喂鱼，用心去感受这个成都人生活写照的街道，或许你就会对成都有更多的了解。
                        </p>
                        <img class="mb10" src="/images/xmjd/xianguang.jpg" alt=""/>

                        <p>喝茶</p>
                        <p>
                            下午可以去宽窄巷子走一走，这个来自清朝的古街道，如今依旧保留着历史的年代感，现代的气息在这里也有着一个完美的交融，这也是一个感受成都人民休闲生活的绝佳地点。
                            其实小简建议，如果你有时间想要感受一下真正成都人休闲的地方，那么一定要去茶馆坐一下，点一杯茶，静心跟上成都这个城市的节奏。
                        </p>
                        <img  class="mb10" src="/images/xmjd/hecha.jpg" alt=""/>
                        <p>
                            小简推荐地道的茶馆给你-蜀风雅韵，它就位于当年卓文君和司马相如谈情说爱卖酒的琴台路，在一个百年梨园老四合院里，不仅能品到传统盖碗茶，还能体验到捶背、掏耳朵，画戏装穿戏服。是不是别有一种风情？小简必须得告诉大家，蜀风雅韵也是成都唯一可以进入化妆后台的戏院哦~如果你对川剧感兴趣，就一定不能错过这里了，毕竟法国总理希拉克、泰国公主诗林通来成都都曾经在此喝茶穿戏服画戏装看川剧的~
                        </p>
                        <img src="/images/xmjd/shufengyayun.jpg" alt=""/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">蜀风雅韵变脸秀VIP票</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>180</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>180</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/128" class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/strategies/xmjd/home.html">去查看全部熊猫基地攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>