<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>青城山景区玩法</title>
    <link href="/css/play.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/play_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title ticket">
            门票详情
        </div>
        <div class="play_desc">
            <div class="product_ticket first">
                <div class="product_name">乐山大佛门票：</div>
                <div class="low_season">
                    <span class="label">全年</span>
                    <span class="price">90元/人</span>
                </div>
            </div>
            <div class="product_ticket">
                <div class="product_name">东方佛都门票：</div>
                <div class="low_season">
                    <span class="label">全年</span>
                    <span class="price">90元/人</span>
                </div>
            </div>
            <div class="ticket no-mb">
                <div class="left">
                    <div class="title">乐山大佛门票</div>
                    <div class="detail">
                        <span class="label">抢购价</span>
                        <span>90元</span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/168"
                   class="right">立即抢购</a>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title spot">
            景点介绍
        </div>
        <div class="play_desc">
            <div class="text_content">
                <p>
                    来到成都旅行，大多数人的第一反应都会想到乐山大佛，也许你会纳闷，一座大佛会有着什么样的魅力，这么多年来一直吸引着世界各地的游客呢？下面就跟着小简来感受一下这个乐山三大世界文化与自然遗产之一的魅力。
                </p>

                <p>乐山大佛关键词：大佛、佛教、吃货天堂</p>

                <p>
                    游览乐山大佛的主要景区所需要的时间大概是两到三个小时，小简为大家准备了一条完整的游玩路线，可以帮助大家省时又省力，既不会错过一处美景，又不会浪费一点时间~
                </p>
                <img class="pb10" class="map" src="/images/ls/leshandafo.jpg" alt="map"/>
                <p>
                    首先我们从乐山大佛的景区入口进入就可以看到乐山大佛的牌坊，即可一路步行游览景区，到达嘉定坊，再到三江交际，在九曲栈道我们就可以通过不同角度，近距离观赏到乐山大佛了。
                </p>
                <p>
                    当然我们还有另外一种方式观赏到乐山大佛的全貌，在乐山港乘坐游船或快艇从江上看大佛，船票70元，游览时间约30分钟，优点是能看大佛全貌和睡佛。大家可以根据自身的喜好来自行选择游览路线哦~
                </p>
                <img class="pb10" src="/images/ls/dongfangfodu.jpg" alt="map"/>
                <p class="last">
                    如果有对佛教感兴趣的朋友，小简推荐你可以顺着乐山大佛景区到东方佛都进行游览哦。东方佛都利用自然山体延伸，集中仿制了国内外佛像三千多尊，曲折蜿蜓地构成了壮观的佛教画卷长廊。这里有当今世界最大、体长170米的巨型卧佛，有我国历代佛像精品，以及东南亚和印度、日本等国家的著名佛像，充分体现了中国和东南亚佛教艺术的风格。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/guide/ls/home.html">去查看全部乐山攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>