<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>沿途巴士停靠点</title>
    <link href="/css/tips.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main">
    <div class="top_banner">
        <img src="/images/tips_top_banner.png" alt="banner"/>
    </div>
    <div class="content">
        <div class="tips">
            <!--tips|travel-->
            <div class="tips_title tips">
                注意事项
            </div>
            <div class="tips_desc">
                <p>
                    由于乐山大佛是直接与外部环境接触，因此损害受外部因素很大，游客应该注意自己的行为举止，不吐痰，不扔垃圾。
                </p>
            </div>
        </div>
        <div class="tips">
            <!--tips|travel-->
            <div class="tips_title travel">
                旅行必备
            </div>
            <div class="tips_desc">
                <p>1、如果可能的话在进景区之前，多买一些水，景区内部的水可能会比较贵。</p>

                <p class="last">2、夏季景区较热，应注意防晒，防暑等。</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom_banner">
            <img src="/images/bottom_banner@3x.png" alt="banner"/>
        </div>
        <footer>
            <a href="/views/guide/ls/home.html">去查看全部乐山攻略</a>
        </footer>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>