<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小简为你采集吃住娱</title>
    <link href="/css/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/collection_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在武隆
        </div>
        <div class="collection_desc">
            <p>
                重庆是座“火锅上的城市”，来到重庆不吃一次正宗的重庆火锅，简直就相当于白来；同时，川渝不分家，川菜在重庆也别有一番风味。那来到了武隆，当然要逛吃逛吃一品重庆滋味。
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        为方便自由行游客，仙女山很多餐馆推出适合散客的套餐，其中卸甲酒店将具有川渝风味的菜品与武隆特色菜肴进行搭配，让游客不仅能体味到正宗的川渝才，还能尝到武隆具有特色的厥粑、红袍菌等。而且，卸甲酒店有露天的花园餐厅，与武隆的自然氛围巧妙的融为一体，坐在“花园”里吃着可口的菜肴，想想都激动呢！
                    </p>
                    <img src="/images/wl/wl_collection_xjjdtc.jpg" alt="/wl_collection_xjjdtc.jpg"/>
                    <div class="ticket">
                        <div class="left">
                            <div class="title">武隆仙女山卸甲4人套餐</div>
                            <div class="detail">
                                <span class="label">抢购价</span>
                                <span>178元</span>
                            </div>
                        </div>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/338"
                           class="right">立即抢购</a>
                    </div>
                    <p>
                        来到武隆，怎么能不吃最具特色的碗碗羊肉呢！碗碗羊肉是以羊肉汤锅演变而来，先将带皮的鲜羊肉（正宗的武隆碗碗羊肉必须是带皮羊肉）煮熟捞出切片，然后用羊骨加入姜.蒜和秘制香料熬汤，然后用羊油、豆瓣、花椒、辣椒和其它香料炒料，熬好的汤和炒的料加上切好的羊肉煮一锅汤锅，待食客来之后盛上一碗，这便是正宗的碗碗羊肉。小简在这里吐血推荐一家生意爆好的“烟草村碗碗羊肉”，位于烟草公司正对面，碗碗羊肉的味道更浓郁，泡椒羊肝，老咸菜更是霸道。碗碗羊肉非常好吃，据说是本地高山羊，肉很鲜香很入味。大热天吃羊肉还别有一番滋味。
                    </p>
                    <img src="/images/wl/wl_collection_wwyr.jpg" alt="wl_collection_wwyr.jpg"/>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title hotel">
            住在武隆
        </div>
        <div class="collection_desc">
            <p>
                玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p>
                            卸甲酒店：叫它酒店，不如叫它花园！卸甲是一家舒适型的花园式酒店，与众多四星级酒店不同的是卸甲特别注重细节装饰，老板对装修风格有着独到的见解，从大堂吧到餐厅到房间甚至厕所均有着养眼的植物摆设，小细节的把控让人心情愉悦。卸甲花园餐厅、BBQ、KTV一应俱全，让你在闲暇之余有更多的娱乐活动充实整个旅程。卸甲酒店位于“仙女山游客接待中心”的正对面，是你旅途中转的最佳选择。
                        </p>
                        <img src="/images/wl/wl_collection_xjjd.jpg" alt="wl_collection_xjjd.jpg"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">仙女山舒适型酒店标间1间</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>308元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/343"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group no-pb">
                        <p>
                            七色花园度假酒店：酒房环境优美，建筑造型别致，位于别墅群，有身临欧洲小镇之感；面对夜宴步行街，在凉风中散步观夜景，真是盛夏季节的最惬意享受；酒店里阳台有梨子、葡萄、蓝莓等多种植物，只要熟了你就可以摘下来吃，自由的就像在自己家里。
                        </p>
                        <img src="/images/wl/wl_collection_qshjd.jpg" alt="wlcollection_qshjd.jpg"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">仙女山舒适型酒店标间1间</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>308元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/343"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                    <div class="group no-pb">
                        <p>
                            威赛铁酒店：另外一家小简要推荐的是一家经济型酒店威赛铁，环境设施都很崭新，就在仙女山游客中心背后，步行几分钟即可到达。酒店的服务都很热情，会给你介绍景点，给你行程建议。玩了一整天，回酒店洗个热水澡，躺在舒软的床上，舒舒服服的睡一觉，感觉整个人生都满足了！
                        </p>
                        <img src="/images/wl/wl_collection_wstjd.jpg" alt="wl_collection_wstjd.jpg"/>
                        <div class="ticket">
                            <div class="left">
                                <div class="title">仙女山经济型酒店标间1间</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>179元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/342"
                               class="right">立即抢购</a>
                        </div>
                        <p>
                            当然了，除了这些酒店之外，还有独居匠心的Sunshine咖啡主题酒店 、萱苏private度假别墅精品客栈，以及位于仙女山的Aecadia国际青年旅舍等，环境绝对赞。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            玩在武隆
        </div>
        <div class="collection_desc">
            <!--<p>-->
            <!--玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！-->
            <!--</p>-->
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p>
                            小简知道有些小伙伴不愿意景区之行一结束就回酒店呼呼大睡，在这里呢，小简良心推荐《印象武隆》，一个了解武隆文化的非常好的途径。“印象武隆”实景歌会由印象“铁三角”张艺谋任艺术顾问，王潮歌、樊跃任总导演，近200位特色演员现场真人真情献唱，以濒临消失的“号子”为主要内容，让观众在70分钟的演出中亲身体验自然遗产地壮美的自然景观和巴蜀大地独特的风土人情。仙女山镇接待中心每晚六点三十开始发车到印象剧场每人收取往返车费20元，每日19:30分停止发车，演出前三十分钟进入剧场。
                        </p>
                        <img src="/images/wl/wl_collection_yxwl.jpg" alt="wl_collection_yxwl.jpg"/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">印象武隆普通席门票）</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>179元</span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/282"
                               class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/guide/wl/home.html">去查看全部武隆攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>