<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>武隆景区玩法</title>
    <link href="/css/play.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/play_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title ticket">
            门票详情
        </div>
        <div class="play_desc">
            <div class="product_ticket first">
                <div class="product_name">仙女山门票：</div>
                <div class="low_season">
                    <span class="label">淡季</span>
                    <span class="price">60元</span>
                </div>
            </div>
            <div class="ticket  no-mb">
                <div class="left">
                    <div class="title"> 武隆仙女山大草原门票</div>
                    <div class="detail">
                        <span class="label">抢购价</span>
                        <span>53元</span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/333"
                   class="right">立即抢购</a>
            </div>
            <div class="product_ticket">
                <div class="product_name">天生三桥门票：</div>
                <div class="low_season">
                    <span class="label">淡季（11月~2月）</span>
                    <span class="price">95元</span>
                </div>
                <div class="busy_season">
                    <span class="label">旺季（3月~10月)</span>
                    <span class="price">135元</span>
                </div>
            </div>
            <div class="ticket no-mb">
                <div class="left">
                    <div class="title">武隆天生三桥门票</div>
                    <div class="detail">
                        <span class="label">抢购价</span>
                        <span>129元</span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/331"
                   class="right">立即抢购</a>
            </div>
            <div class="product_ticket">
                <div class="product_name">龙水峡地缝门票：</div>
                <div class="low_season">
                    <span class="label">淡季（11~2月</span>
                    <span class="price">85元</span>
                </div>
                <div class="busy_season">
                    <span class="label">旺季（3月~10月)</span>
                    <span class="price">115元</span>
                </div>
            </div>
            <div class="ticket no-mb">
                <div class="left">
                    <div class="title">龙水峡地缝门票</div>
                    <div class="detail">
                        <span class="label">抢购价</span>
                        <span>109元</span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/332"
                   class="right">立即抢购</a>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title ticket">
            取票地址
        </div>
        <div class="play_desc">
            <p class="last">
                仙女镇游客接待中心取票机自取（所有景区门票均可取）<br/>
                各个景区窗口取票（只能取对应景区门票）<br/>
                景区官方咨询电话：4008-023-666（旅游信息均可咨询哦~）<br/>
            </p>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title spot">
            景点介绍
        </div>
        <div class="play_desc">
            <img class="map" src="/images/wl/wl_play_map.png" alt="map"/>
            <div class="text_content">
                <p>
                    既有旖旎美艳的森林草原，也有喀斯特的地质奇观，山水、草原、森林、星空，在盛夏火炉般的重庆，给你最清爽的旅游体验。
                </p>

                <p>
                    武隆关键词：森林公园、喀斯特地貌、山水景观
                </p>

                <p>
                    是不是想一探大自然的风采，马上来一场说走就走的旅行？ <br/>
                    别急，待小简来给你慢慢整理游览武隆的各种路线，让你放心更省心！
                </p>

                <p class="last">
                    如上图所示，武隆开发的主要旅游景点为仙女山森林公园、天生三桥、龙水峡地缝、芙蓉洞等，一般以仙女山镇为集散点。大多数游客会选择前三者旅游景点来一览武隆风采。
                </p>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            仙女山
        </div>
        <div class="play_desc">
            <div class="text_desc">
                冬季仙女山白雪皑皑，银妆纱裹，大草原滑雪、赏雪、雪地烤羊，把酒临风，兴致昂然;夏季园内气候湿润，茫茫林海，清风吹拂，凉爽宜人，是休闲、度假、避暑的绝好去处。高山草原是最引以为骄傲的游览景观，其旖旎美艳的风光被广大游客誉为具有西欧牧园风情的"草场公园"和"南国第一牧场"。
            </div>
            <div class="img_desc">
                <img src="/images/wl/wl_play_xns.jpg" alt="wl_play_xns.jpg"/>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            天生三桥
        </div>
        <div class="play_desc">
            <div class="text_desc">
                天生三桥地处仙女山南部，位居仙女山与武隆县之间， 天生三桥景区内天生石桥气势磅礴，林森木秀、飞泉流瀑，包容了山、水、雾、泉、峡、峰、溪、瀑，是一处高品位的生态旅游区。
                天生三桥由天龙桥、青龙桥、黑龙桥组成，气势磅礴、恢宏其规模庞大、气势磅礴称奇于世，是亚洲最大的天生桥群。是《满城尽带黄金甲》和《变形金刚》的取景地。
            </div>
            <div class="img_desc">
                <img src="/images/wl/wl_play_tssq.jpg" alt="wl_play_tssq.jpg"/>
            </div>
        </div>
    </div>

    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            龙水峡地缝
        </div>
        <div class="play_desc">
            <div class="text_desc">
                龙水峡地缝式峡谷，"武隆喀斯特"世界自然遗产地的重要组成部分，位于武隆县仙女山镇境内，距县城15公里。该地缝是几千万年前造山运动而形成，属典型的喀斯特地貌景观。峡谷长5公里，游程约2公里，谷深200--500米，规模宏大，气势磅礴。景区玲珑秀丽，风光优美。以峡深壁立、原始植被、飞瀑流泉、急流深潭为其特色。银河飞瀑、九滩十八潭、蛟龙寒窟为其标志性景观。
            </div>
            <div class="img_desc">
                <img src="/images/wl/wl_play_lsxdf.jpg" alt="wl_play_lsxdf.jpg"/>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            芙蓉洞
        </div>
        <div class="play_desc">
            <div class="text_desc">
                芙蓉洞是一个大型石灰岩洞穴，形成于第四纪更新世(大约120多万年前)，发育在古老的寒武系白云质灰岩中。洞内深部稳定气温为16.1度。芙蓉洞主洞长 2700
                米，游览道1860米，底宽12-15米以上，最宽69.5米;洞高一般8-25米，最高48.3米;洞底总面积37000平方米，其中辉煌大厅面积在1000平方米以上，面积 1.1
                万平方米，最为壮观。同时被誉为"世界三大洞穴"之一。
            </div>
            <div class="img_desc">
                <img src="/images/wl/wl_play_frd.jpg" alt="wl_play_frd.jpg"/>
            </div>
        </div>
    </div>
    <div class="recommend">
        <div class="re_title">小简行程推荐</div>
        <div class="re_content">
            <div class="tourism">
                <p>
                    武隆虽不大，但景点颇多，且相对集中。若时间较紧的，一天也能游完 最经典的两大景点——天生三桥及天坑地缝。如果想轻松舒适的深度游， 建议最好安排三天时间。行程安排上，一般建议可把天坑地缝放一块用一天游览，仙女山安排一天游览，还有芙蓉洞及美丽的芙蓉江漂流也安排一天游览。
                </p>
                <h3>武隆一日游：</h3>
                <p>
                    第一日可游览“南方喀斯特地貌奇观”——天生三桥和龙水峡地缝。从游客中心可搭乘转成前往天生三桥、龙水峡地缝任一景点。天生三桥搭电梯和步行都可到达主景点处，但旺季时人多电梯要等待近50分钟，小简建议小伙伴们步行，约20分钟可达谷底，途中人少空气清晰。游完后可乘电瓶车或步行上行到景区出口，前往龙水电地缝景区。龙水峡地缝主要景点有小小天生桥、龙潭映月、银河飞瀑。沿人工栈道行进，可在一处“瞭望台”远眺地缝经典角度风景，游览全程约1-2小时。出口处可乘景区大巴车回仙女山游客中心。建议宿仙女镇。
                </p>
            </div>
            <div class="tourism">
                <h3>武隆二日游：</h3>
                <p>
                    第二日出发前往仙女山森林公园。在游客接待中心停车场入口的公路两旁乘武隆汽车开往仙女山小巴车的终点站——木梯子，票价大约在8元；可乘坐小火车（自费25元）；也可步行，步行时间大约1个小时左右。返回县城、或者仙女镇也需在木梯子处乘车。仙女山草原可开展滑雪、骑马、射击等多种活动。仙女山大草原住宿价格偏贵，也可露营。
                </p>
            </div>
            <div class="tourism last">
                <h3>武隆三日深度游：</h3>
                <p>
                    第三日一早前往芙蓉洞，可以在镇上乘坐到江口的公交车，提前和司机说到芙蓉洞；若司机不能载，则需在江口镇转乘到芙蓉洞的小巴，约10分钟一班，5元/人。景区车站有个长廊，可俯瞰芙蓉江。进入芙蓉洞，沿楼梯行走。尽管洞内曲折幽暗，但不必担心迷路问题。芙蓉洞向下走300米左右即可到达芙蓉江，可以体验芙蓉江游船和索道速滑。<br/>
                    游玩结束后于18点前返回仙女镇游客服务中心，启程返回重庆市区。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/guide/wl/home.html">去查看全部武隆攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>