<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>丽江景区玩法</title>
    <link rel="stylesheet" href="/css/play.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body>
<div class="main">
    <div class="top_banner">
        <img src="http://images.simpletour.com/guide/play_top_banner.png" alt="banner"/>
    </div>
    <div class="content">
        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title spot">
                普达措国家森林公园
            </div>
            <div class="play_desc">
                <p>门票：通票258元/人（含138元门票费和120元景区观光车费），碧塔海游船票50元/人</p>
                <p style="padding-bottom:0.2rem">1、	含往返车票＋虎跳峡门票＋普达措门票：</p>
                <div class="ticket no-mt">
                    <div class="left">
                        <div class="title">丽江-虎跳峡、香格里拉2日自由行（含普达措、虎跳峡门票）</div>
                        <div class="detail">
                            <span class="label">抢购价</span>
                            <span>449元</span>
                        </div>
                    </div>
                    <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/894?statisticSearchPkg=16"
                       class="right">立即抢购</a>
                </div>
                <p style="padding-bottom:0.2rem">2、	含往返车票＋虎跳峡＋普达措门票＋纳帕海门票：</p>
                <div class="ticket no-mb no-mt">
                    <div class="left">
                        <div class="title">丽江-虎跳峡、香格里拉2日自由行 8:00</div>
                        <div class="detail">
                            <span class="label">抢购价</span>
                            <span>539元</span>
                        </div>
                    </div>
                    <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/897?statisticSearchPkg=17"
                       class="right">立即抢购</a>
                </div>
                <p style="margin-top:0.5rem">普达措关键词：童话世界、属都湖仙境、徒步天堂、野生动植物王国</p>
                <p>交通：香格里拉客运站每天有四班去普达措的班车，出发时间分别为8:00、8:30、9:30，返程时间分别为14:00、14:30、15:00和16:30，车费单程15元/人，车程半小时左右</p>
                <img class="mb10" class="map" src="http://images.simpletour.com/guide/xgll/xgll_play_pdcgy.png" alt="map"/>
                <p class="last">
                    无论是你想花一两个月把香格里拉玩透，还是只有1天的时间停留，都不要错过普达措公园，那里等草原雪山湖泊是触手可及的幻境。春天有百花盛开的高山草甸，夏天是满山碧绿的美景，秋天有色彩斑斓的层层密林，冬天可欣赏一片雪白下的碧蓝湖波。建议清晨前往，可以看到仙雾缭绕等属都湖。
                </p>
            </div>
        </div>
        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title spot">
                纳帕海
            </div>
            <div class="play_desc">
                <p>门票：40元／人</p>
                <p style="padding-bottom:0.2rem">1、往返车位＋虎跳峡门票＋纳帕海门票</p>
                <div class="ticket no-mt">
                    <div class="left">
                        <div class="title">丽江-虎跳峡、香格里拉2日游（含纳帕海+虎跳峡门票）8:00</div>
                        <div class="detail">
                            <span class="label">抢购价</span>
                            <span>259元</span>
                        </div>
                    </div>
                    <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/896?statisticSearchPkg=7"
                       class="right">立即抢购</a>
                </div>
                <p style="padding-bottom:0.2rem">2、纯门票链接：</p>
                <div class="ticket no-mb no-mt">
                    <div class="left">
                        <div class="title">【香格里拉】纳帕海依拉草原门票</div>
                        <div class="detail">
                            <span class="label">抢购价</span>
                            <span>40元</span>
                        </div>
                    </div>
                    <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/424"
                       class="right">立即抢购</a>
                </div>
                <p style="margin-top:0.5rem">纳帕海关键词：水上牧场、田园牧歌</p>
                <p>交通：古城停车场有到纳帕海依拉草原专线的班车，每天8:00-18:00整点发车，票价10元/人。</p>
                <img class="mb10" class="map" src="http://images.simpletour.com/guide/xgll/xgll_play_nph.png" alt="map"/>
                <p class="last">
                    纳帕海，也被成为伊拉草原。雨季里，这里是浮光潋滟的花湖，到了十月的旱季，湖水不断后退，让位给草原。5月，纳帕海绿草茵茵；6-8月，野花怒放，风吹草低见牛羊，不时还有野猪从你面前跑过；秋冬来临，草原一片金黄，皑皑白雪的山峰倒影于湖泊中，黑颈鹤、黄鸭、班头雁在草丛中、水面上嬉戏，给广阔空灵的草原带来勃勃生机。
                </p>
            </div>
        </div>
        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title spot">
                噶丹.松赞林寺
            </div>
            <div class="play_desc">
                <p>门票：115元／人</p>
                <p>关键词：小布达拉、庄严辉煌、朝圣之地</p>
                <p>交通：香格里拉县城长征路上乘3路公交（票价1元）或中巴车（2元）可以直达，车程45分钟，停车场就在寺门对面，乘出租车10元。</p>
                <img class="mb10" class="map" src="http://images.simpletour.com/guide/xgll/xgll_play_gdszls.png" alt="map"/>
                <p class="last">
                    噶丹•松赞林寺有“小布达拉宫”之称。 寺庙建于1679年，依山而建，正对拉姆央措湖，是云南藏传佛教的首要寺庙，在拉姆央措湖观景台可拍下寺庙全景。五层藏式雕楼建筑，大殿可容1600人趺坐念经，殿内供奉五世达赖和七世达赖等众多佛像，还有贝叶经、五彩金汁精绘唐卡、黄金灯等历代珍品。每年藏历12月26-29日，藏民会在此举行以“跳神”（面具舞）为主的格冬节，气氛神秘而热烈。
                </p>
            </div>
        </div>
        <div class="play">
            <!--ticket|spot|location-->
            <div class="play_title spot">
                独克宗古城
            </div>
            <div class="play_desc">
                <p style="padding-bottom:0.2rem">途中玩乐住宿：</p>
                <div class="ticket no-mb no-mt">
                    <div class="left">
                        <div class="title">【香格里拉】纳帕海依拉草原门票</div>
                        <div class="detail">
                            <span class="label">抢购价</span>
                            <span>40元</span>
                        </div>
                    </div>
                    <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/430"
                       class="right">立即抢购</a>
                </div>
                <p style="margin-top:0.5rem">关键词：月光之城、避世天堂、不朽的石头城堡</p>
                <img class="mb10" class="map" src="http://images.simpletour.com/guide/xgll/xgll_play_dkzgc.png" alt="map"/>
                <p class="last">
                    月光之城独克宗，是建在石头上等城堡，按照佛经中的香巴拉理想国建成的，有“建在石头上的城堡”和“月光城”两层含义。古城的路面起伏不平，留着深深的马蹄印，那是当年的马帮给时间留下的信物。遗憾的是2014年1月11日，一场大火侵袭了古城，导致古城严重被毁，目前正在重建中。住在简途途中玩乐推荐古城住宿，可以在窗前眺望龟山公园世界上最大到转经筒。
                </p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom_banner">
            <img src="http://images.simpletour.com/guide/bottom_banner@3x.png" alt="banner"/>
        </div>
        <footer>
            <a href="home.html">去查看全部香格里拉攻略</a>
        </footer>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>