<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>沿途巴士停靠点</title>
    <link rel="stylesheet" href="/css/stops.scss?__inline" media="screen" title="no_title" charset="utf-8">
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=3U5BZ-XRWWQ-LJJ5C-GHCQG-G5OIZ-EIFPD"></script>
</head>
<body>
<div class="main">
    <div class="top_banner">
        <img src="http://images.simpletour.com/guide/stop_top_banner.png" alt="banner"/>
    </div>
    <div class="content">
        <div class="stop">
            <div class="stop_title stop">
                停靠点一：束河古镇
            </div>
            <div class="stop_desc">
                <div class="node first last">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                        <span class="circle last"></span>
                    </div>
                    <div class="substance">
                        <p>第一班云巴士8:30到达，第二班云巴士13:30达到。</p>
                        <img style="margin-bottom:5px" src="http://images.simpletour.com/guide/xgll/xgll_stops_sh.png" alt=""/>
                        <p>
                            纳西语称“绍坞”，意为“高峰之下的村寨”，是纳西先民在丽江最早的聚居地之一，是茶马古道上保存完好的重要集镇。过去这里交通不如大研古城便利， 不方便去别的景区，现在可以在这里搭乘云巴士直达玉龙雪山、香格里拉、大理、双廊。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="stop">
            <div class="stop_title stop">
                停靠点二：虎跳峡
            </div>
            <div class="stop_desc">
                <div class="node first last">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                        <span class="circle last"></span>
                    </div>
                    <div class="substance">
                        <p>第一班云巴士10:00到达，第二班云巴士15:30达到。</p>
                        <img style="margin-bottom:5px" src="http://images.simpletour.com/guide/xgll/xgll_stops_hty.png" alt=""/>
                        <p>
                            虎跳峡是世界上最深到峡谷，上虎跳，被誉为全中国最适合轻装徒步的地方，中虎跳、下虎跳是资深驴友的最爱。上虎跳栈道平缓，隧道交错，轻松不乏味，1个半小时就可以饱览风景，走完全程。一路上，江水声如同虎啸，扶着栏杆甚至能感受到这头怪兽声带的颤动，走过一次终生难忘。
                        </p>
                        <p style="margin-top:8px;margin-bottom:3px;">1、出行前一天21:00前可订购</p>
                        <div class="ticket no-mt no-mb">
                            <div class="left">
                                <div class="title">【香格里拉】虎跳峡门票</div>
                                <div class="detail">
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>55元</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/422" class="right">立即抢购</a>
                        </div>
                        <p style="margin-top:8px;margin-bottom:3px;">2、出行当天可订购</p>
                        <div class="ticket no-mt no-mb">
                            <div class="left">
                                <div class="title">虎跳峡门票-当天可预订</div>
                                <div class="detail">
                                    <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>55元</span>
                                    </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/432 " class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stop">
            <div class="stop_title stop">
                停靠点三：小中甸红草地
            </div>
            <div class="stop_desc">
                <div class="node first last">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                        <span class="circle last"></span>
                    </div>
                    <div class="substance">
                        <p>第一班云巴士14:00到达，第二班云巴士18:30达到。</p>
                        <img style="margin-bottom:5px" src="http://images.simpletour.com/guide/xgll/xgll_stops_xzd.png" alt=""/>
                        <p>
                            一到秋天，小中甸火红的狼毒花如火焰燎原。它开得越艳，毒性越强，当地人管它叫“断肠草”，连牛羊都不愿意碰它。它是草原蜕变成沙漠的最后一道风景线，云巴士将在小中甸停靠20分钟，让你你有机会拍下难得一见到奇景。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="stop">
            <div class="stop_title parking">
                目的地停车
            </div>
            <div class="stop_desc">
                <div class="node noLine">
                    <div class="substance">
                        <p style="margin-bottom: 3px">
                            香格里拉县坛城广场
                        </p>
                        <div id="map" style="width:100%;height:200px;margin-bottom:10px"></div>
                        <p>简途套餐住宿点：香格里拉藏域印象精品客栈</p>
                        <img style="width:100%;height:auto;" src="http://images.simpletour.com/guide/xgll/xgll_stops_map0.png" alt=""/>
                        <p style="margin-bottom: 3px;margin-top:3px">2日往返：</p>
                        <div class="ticket no-mt no-mb">
                            <div class="left">
                                <div class="title">丽江-虎跳峡、香格里拉直通车（含舒适住宿）13:30</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">抢购价</span>
                                    <span>219元</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/902?statisticSearchPkg=1 " class="right">立即抢购</a>
                        </div>
                        <p style="margin-bottom: 3px;margin-top:3px">3日往返：</p>
                        <div class="ticket no-mb no-mt">
                            <div class="left">
                                <div class="title">丽江-虎跳峡、香格里拉直通车（含舒适住宿）13:30</div>
                                <div class="detail">
                                <span class="sc-price">
                                    <span class="label">抢购价</span>
                                    <span>219元</span>
                                </span>
                                </div>
                            </div>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/902?statisticSearchPkg=2" class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom_banner">
            <img src="http://images.simpletour.com/guide/bottom_banner@3x.png" alt="banner"/>
        </div>
        <footer>
            <a href="home.html">去查看全部香格里拉攻略</a>
        </footer>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    var position = function (id, detail) {
        var service = new qq.maps.Geocoder(), map, marker;
        service.setComplete(function (data) {
            var center = new qq.maps.LatLng(data.detail.location.lat, data.detail.location.lng);
            map = new qq.maps.Map(document.getElementById(id), {
                center: center,
                zoom: 15
            })
            marker = new qq.maps.Marker({
                position: center,
                map: map
            })
        })
        service.setError(function (data) {
            console.error(data + ',error');
        })
        service.getLocation(detail);
    }

    position('map', '云南省迪庆藏族自治州香格里拉县坛城广场');
</script>
</body>
</html>