<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>九寨沟景区玩法</title>
    <link href="/css/play.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/play_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title ticket">
            门票详情
        </div>
        <div class="play_desc">
            <div class="product_ticket first">
                <div class="product_name">青城山门票：</div>
                <div class="low_season">
                    <span class="label">前山门票：</span>
                    <span class="price">90元/人</span>
                </div>
                <div class="busy_season">
                    <span class="label">后山门票：</span>
                    <span class="price">20元/人</span>
                </div>
            </div>
            <div class="ticket no-mb">
                <div class="left">
                    <div class="title">青城山风景区门票(前山)</div>
                    <div class="detail">
                        <span class="label">抢购价</span>
                        <span>90元</span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/46" class="right">立即抢购</a>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title spot">
            景点介绍
        </div>
        <div class="play_desc">
            <div class="text">
                <p>
                    青城山背靠千里岷江，俯瞰成都平原，并素有青城天下幽的美名。今天小简就来介绍一下这座历史文化深厚的名山。至于为什么会以“青城山”命名呢，一种说法是因为这里终年翠绿环绕，树木青翠，而形状又似城廓，所以“青城山”之名由此而来。但青城山真正出名却是因为宗教原因，也就是传说中的“问道青城山，拜水都江堰”，青城山作为中国道教发源地之一，可是有着千年的道教文化底蕴，小简不知道小时候的你或者长大的你有没有过想要当道士的想法，游过了青城山,说不定就会被道士们圈粉走不了咯~
                </p>
                <p>
                    青城山关键词：道教、幽静、修身养性
                </p>
                <img style="margin-bottom: .5rem" src="/images/qcs/qcs.jpg" alt="qcs.jpg"/>
                <p>
                    下车后所有人需要从停车场走2.3公里才能到达景区售票处，也就是景区大门入口，由于是上坡路，大约需要走30分钟。所以小简在这里建议大家可以购买来回观光车票，20元/人进行往返，这样可以帮助大家节省近山40
                    分钟的时间。
                </p>

                <p class="last">
                    到达景区之后，大家可以缓缓上山到月城湖分界口；左为爬山，右方为月城湖乘船，费用要5元，过湖后也可以选择爬山或乘索道，爬山就要辛苦一点，如果走到月城湖的费劲的朋友建议乘索道，索道单程35元，双程60元，最好选双程，这样上山下山都可以轻松点哦~
                </p>
            </div>
        </div>
    </div>
    <div class="recommend">
        <div class="re_title">小简必去景点推荐</div>
        <div class="re_content">
            <div class="play">
                <!--ticket|spot|location-->
                <div class="play_title location">
                    建福宫
                </div>
                <div class="play_desc">
                    <div class="text_desc">
                        <p>
                            建福宫作为青城山的起点，始建于唐代。宫前古木苍翠，四周五峰环列，气势宏伟。上行不远有鬼城山，传为战国时鬼谷子隐居处。建福宫经多次修复，现存二殿三院。宫殿筑于峭壁之下，气度非凡，不妨在开始就被这霸气的造型心灵吧~</p>
                    </div>
                    <!--<div class="img_desc">-->
                    <img src="/images/qcs/jianfugong.jpg" alt="jianfugong.jpg"/>
                    <!--</div>-->
                </div>
            </div>
            <div class="play">
                <!--ticket|spot|location-->
                <div class="play_title location">
                    天然图画坊
                </div>
                <div class="play_desc">
                    <div class="text_desc">
                        接着向上爬，仿佛置身画中，亭阁矗立于苍崖立壁、绿荫浓翠之间，这就到了天然图画坊：画坊建于光绪年间，右有横石卧于两山之间的悬崖上，被称为“天仙桥”，传为仙人聚会游戏处。如此美景，小简也不禁感叹仿佛置身仙境。
                    </div>
                    <!--<div class="img_desc">-->
                    <img src="/images/qcs/trthf.jpg" alt="trthf.jpg"/>
                    <!--</div>-->
                </div>
            </div>
            <div class="play">
                <!--ticket|spot|location-->
                <div class="play_title location">
                    天师洞
                </div>
                <div class="play_desc">
                    <div class="text_desc">
                        顺着山路继续向前，累了可以就地歇一歇哦，接下来就可以看到古观靠山处有一洞窟，传说
                        是张道陵天师结茅居住过的地方，所以一般人都称它为“天师洞”。现存殿宇建于清末，规模宏伟，雕刻精细，并有不少珍贵文物和古树。相传东汉末年张道陵曾在此讲经传道。
                    </div>
                    <!--<div class="img_desc">-->
                    <img src="/images/qcs/tianshidong.jpeg" alt="tianshidong.jpeg"/>
                    <!--</div>-->
                </div>
            </div>
            <div class="play">
                <!--ticket|spot|location-->
                <div class="play_title location">
                    上清宫
                </div>
                <div class="play_desc">
                    <div class="text_desc no-pb">
                        <p>
                            在即将到达青城山第一峰的山顶时，我们就能看见上清宫了，上清宫始建于晋代，现存庙宇为清朝同治年间所建，上有“天下第五名山”、“青城第一峰”等摩崖石刻，宫门“上清宫”三字由蒋介石题寅。宫内祀奉道教始祖李老君，有老子塑像和《道德经》五千言木刻，还有麻姑池、鸳鸯井等传说遗迹……上清宫后为老霄顶、建有呼应亭、是赏观日出、神灯和云海奇观的绝佳地点。这也是青城之行绝对不能错过的一个景点之一，这么辛苦爬上来了，看一眼，完全不虚此行啊有没有~
                        </p>
                        <img style="margin-bottom: .5rem" src="/images/qcs/sqg.jpeg" alt="sqg.jpeg"/>
                        <p class="last">
                            景点就介绍到这里啦，朋友们爬完就可以顺着山路慢慢往下走了，小简也请大家尽量根据自己的身体情况来选择最适合自己的爬山方式，毕竟出来玩耍身体的感受也是很重要的！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/strategies/qcs/home.html">去查看全部青城山攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>