<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小简为你采集吃住娱</title>
    <link href="/css/guide/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/collection_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在青城-美食美景，完美融合
        </div>
        <div class="collection_desc">
            <p>
                青城山只有山？那怎么行，让小简一个梦想吃遍天下的人怎么答应？爬完山全身酸痛，为什么不找点美食来犒劳自己呢？青城当然不只有山，美食只是在等你来挖掘。
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        说到青城山的特产，有著名的青城四绝：白果炖鸡，洞天乳酒，道家泡菜，青城贡茶。如果大家有机会上达上清宫，那么可以在大殿边上的青城道教膳食去品尝一下醇香的白果炖鸡等美食，既然来到了道教的发源地，就去感受一下道教膳食的精妙吧~
                    </p>
                    <img class="mb10" src="/images/qcs/baiguodunji.jpg" alt="baiguodunji.jpg"/>
                    <p>
                        下山之后大家也可以去景区外寻觅美食，毕竟路途遥远完全不能浇灭我们吃货对于吃的热情，来顿家常菜安抚一下自己疲惫的身体吧，小简推荐大家去尝尝佳宴·厨房，受到众多游客好评的餐厅，价格亲民，味道好评，总结就是实惠又好吃！
                    </p>
                    <img class="mb10" src="/images/qcs/jiayanchufang.jpg" alt="jiayanchufang.jpg"/>
                    <p>
                        如果是青城山一日游的朋友，上午爬完山下午想要休闲放松一下的话，可以选择去六善酒店想用英式下午茶，感受一下在古典与现代的对比下，别样的青城山。
                    </p>
                    <img src="/images/qcs/liushan.jpg" alt="liushan.jpg"/>
                    <div class="ticket">
                        <div class="left">
                            <div class="title">六善酒店下午茶双人套餐</div>
                            <div class="detail">
                                <span class="label">抢购价</span>
                                <span>178元</span>
                            </div>
                        </div>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/83" class="right">立即抢购</a>
                    </div>
                    <p>
                        有些美食带不走，那我们就看看能带走的~说到青城山的美食，小简不得不提到老腊肉，腊肉闻名天下，但青城山的老腊肉可谓是四川之冠。青城山当地农家乐有用自家养的猪来做腊肉，一般在冬至前后腌制，春节前后可买到。一般都是存放两三年，最长的可存放5年左右——越久味道约浓厚，不用担心保质期。而老腊肉最好的烹饪方法就是四川名菜回锅肉了，不用特别的配料，只要简单的蒜苔或胡萝卜，与切片的老腊肉在锅里呛炒几下就非常好味。瘦肉嚼劲十足，肥的也油而不腻，入口咸淡适中，非常下饭。是不是已经感觉口水在口腔里爆炸了？还不赶紧去试试！
                    </p>
                    <img src="/images/qcs/laolarou.jpg" alt="laolarou.jpg"/>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title hotel">
            住在青城-原生淳朴，相得益彰
        </div>
        <div class="collection_desc">
            <p>
                玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group">
                        <img class="mb10" src="/images/qcs/6shan1.jpeg" alt="6shan.jpeg"/>
                        <p>
                            选择青城山一日游的朋友，在结束了一天的行程之后，可以选择一个舒适温暖的酒店休息一晚，第二天清晨可以感受刚刚睡醒的青城山的清新，享受度假的美好时光。
                            小简第一时间就想到了六善酒店，为什么呢？因为六善是度假酒店界的翘楚Six Senses—也称第六感，在中国的第一家酒店，2015年刚刚开业，所有设施都非常崭新哦~酒店以古典村落的形式呈现，通常每四间套房围合成一个院落，共享一处秘密庭院，这样既保护了宾客的住宿环境的私密性，又不会太过沉闷的维持在一个相同环境内。原生态的木梁墙体，天然的藤编灯具，与灰褐原木色调的现代中式家具相得益彰。六善用这样的环境和青城山景完美的融合到了一起。
                        </p>
                        <img src="/images/qcs/6shan.jpeg" alt="6shan.jpeg"/>
                    </div>
                    <div class="group no-pb">
                        <p>
                            除去这种价格稍高，环境优美的酒店之外，青城山还有非常多的民宿和客栈，这种小的客栈价格便宜，虽然没有酒店的设施那么完善，但是客栈老板都会非常热情哦~可能会去火车站接你，会送你到景区门口，也很有可能会邀请你们加入他们的晚餐，小简曾经就享受过这种待遇，所以想要体验青城山淳朴民风的朋友可以尝试一下当地的客栈或者民宿哦~
                        </p>
                        <img src="/images/qcs/minsu.jpg" alt="minsu.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            玩在青城-温泉舒适，美景醉人
        </div>
        <div class="collection_desc">
            <!--<p>-->
            <!--玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！-->
            <!--</p>-->
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p>
                            当夜晚降临，青城山微风起拂，小简想到一个很好的方法能够洗去今日爬山时一身的疲惫与劳累，青城山的温泉的美名可不是虚传哦~青城既然是个度假胜地，既然来了，就好好度个假吧，晚上看看青城山夜景，泡泡温泉，放松一下疲惫的心情。不妨是一个享受的好办法。小简推荐青城山豪生酒店的道温泉，我想你会沉浸在美景与舒适之中，无法自拔。
                        </p>
                        <img src="/images/qcs/wenquan.jpg" alt=""/>
                        <div class="ticket no-mb">
                            <div class="left">
                                <div class="title">温泉</div>
                                <div class="detail">
                                    <span class="label">抢购价</span>
                                    <span>无链接</span>
                                </div>
                            </div>
                            <a href="" class="right">立即抢购</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/guide/qcs/home.html">去查看全部青城山攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>