<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>沿途巴士停靠点</title>
    <link href="/css/guide/stops.scss?__inline" rel="stylesheet" type="text/css"/>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=3U5BZ-XRWWQ-LJJ5C-GHCQG-G5OIZ-EIFPD"></script>
</head>
<body>
<div class="main">
    <div class="top_banner">
        <img src="/images/stop_top_banner.png" alt="banner"/>
    </div>
    <div class="content">
        <div class="stop">
            <div class="stop_title stop">
                青城山都江堰A线：
            </div>
            <div class="stop_desc">
                <div class="node first">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            08:30 车辆经停【熊猫乐园】
                        </p>
                    </div>
                </div>
                <div class="node">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            13:00 在青城山景区【青城山前山停车场】集合，前往都江堰景区
                        </p>
                    </div>
                </div>
                <div class="node">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            13:30 抵达都江堰景区，停靠【古城停车场】，距离景区大门约900米，步行约10分钟。
                        </p>
                    </div>
                </div>
                <div class="node">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            17:00 在都江堰景区【古城停车场】集合，车辆将沿都汶高速返回成都。
                        </p>
                    </div>
                </div>
                <div class="node last">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                        <span class="circle last"></span>
                    </div>
                    <div class="substance">
                        <p>
                            18:45 车辆抵达成都市【宽窄巷子】，结束旅程。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="stop">
            <div class="stop_title stop">
                青城山都江堰B线
            </div>
            <div class="stop_desc">
                <div class="node first">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            07:30 在成都【宽窄巷子西胜街蜀风园酒店】集合，沿都汶高速前往都江堰景区
                        </p>
                    </div>
                </div>
                <div class="node">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            09:30 抵达都江堰景区，停靠【古城停车场】，距离景区大门约900米，步行约10分钟。
                        </p>
                    </div>
                </div>
                <div class="node">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            12:30  在都江堰景区【古城停车场】集合，车辆将前往青城山景区
                        </p>
                    </div>
                </div>
                <div class="node">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            13:00 抵达青城山景区，停靠【青城山前山停车场】，距离景区大门约2.2公里，步行约30分钟，建议乘坐景区观光车，约10分钟，票价20元/人
                        </p>
                    </div>
                </div>
                <div class="node">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                    </div>
                    <div class="substance">
                        <p>
                            17:30 在青城山景区【青城山前山停车场】集合，车辆将沿都汶高速返回成都
                        </p>
                    </div>
                </div>
                <div class="node last">
                    <div class="line">
                        <span class="circle"></span>
                        <span class="pink_line"></span>
                        <span class="circle last"></span>
                    </div>
                    <div class="substance">
                        <p>
                            19:00 车辆抵达成都市【宽窄巷子】，结束旅程。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="stop">
            <div class="stop_title parking">
                目的地停车
            </div>
            <div class="stop_desc">
                <div class="node noLine">
                    <div class="substance">
                        <p>
                            青城山:青城山前山停车场
                            <br>
                            青城山前山停车场距离景区大门约2.2公里，步行约30分钟，建议乘坐景区观光车，约10分钟，票价20元/人
                        </p>
                        <div id="map" style="width:100%;height:200px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom_banner">
            <img src="/images/bottom_banner@3x.png" alt="banner"/>
        </div>
        <footer>
            <a href="/views/guide/qcs/home.html">去查看全部青城山攻略</a>
        </footer>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    var position = function (id, detail) {
        var service = new qq.maps.Geocoder(), map, marker;
        service.setComplete(function (data) {
            var center = new qq.maps.LatLng(data.detail.location.lat, data.detail.location.lng);
            map = new qq.maps.Map(document.getElementById(id), {
                center: center,
                zoom: 15
            })
            marker = new qq.maps.Marker({
                position: center,
                map: map
            })
        })
        service.setError(function (data) {
            console.error(data + ',error');
        })
        service.getLocation(detail);
    }

    position('map', '四川成都市都江堰市青城山前山停车场');
</script>
</body>
</html>