<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>都江堰景区玩法</title>
    <link href="/css/play.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/play_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title ticket">
            门票详情
        </div>
        <div class="play_desc">
            <div class="product_ticket first">
                <div class="product_name">峨眉山门票：</div>
                <div class="low_season">
                    <span class="label">旺季（1月16日-12月14日）</span>
                    <span class="price">185.00元</span>
                </div>
                <div class="busy_season">
                    <span class="label">淡季（12月15日-次年1月15日）</span>
                    <span class="price">110.00元</span>
                </div>
            </div>
            <div class="ticket no-mb">
                <div class="left">
                    <div class="title"> 峨眉山景区门票</div>
                    <div class="detail">
                        <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/42" class="right">立即抢购</a>
            </div>
            <div class="product_ticket">
                <div class="product_name"> 峨眉山景区门票（旺季时间6：00-18:00）：</div>
                <div class="low_season">
                    <span class="label">全山段往返车票</span>
                    <span class="price">90元/人</span>
                </div>
                <div class="busy_season">
                    <span class="label">半山段往返车票</span>
                    <span class="price">40元/人</span>
                </div>
            </div>
            <div class="ticket no-mb">
                <div class="left">
                    <div class="title"> 峨眉山观光车票（全山段往返）</div>
                    <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/48" class="right">立即抢购</a>
            </div>
            <div class="product_ticket">
                <div class="product_name">金顶索道票（营运时间5：30-18:00）：</div>
                <div class="low_season">
                    <span class="label">旺季（1月16日-12月14日）</span>
                    <span class="price">上65元，下55元</span>
                </div>
                <div class="busy_season">
                    <span class="label">淡季（12月15日-次年1月15日）</span>
                    <span class="price">上30元，下20元</span>
                </div>
            </div>
            <div class="ticket no-mb">
                <div class="left">
                    <div class="title">峨眉山金顶往返索道票</div>
                    <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                    </div>
                </div>
                <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/239"
                   class="right">立即抢购</a>
            </div>
            <div class="product_ticket">
                <div class="product_name">寺庙门票：</div>
                <div class="low_season">
                    <span class="label">万年寺</span>
                    <span class="price">10.00元 </span>
                </div>
                <div class="busy_season">
                    <span class="label">报国寺</span>
                    <span class="price">8.00元</span>
                </div>
                <div class="busy_season">
                    <span class="label">伏虎寺</span>
                    <span class="price">6.00元</span>
                </div>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title spot">
            景点介绍
        </div>
        <div class="play_desc">
            <img class="map" src="/images/ems/ems_play_map.png" alt="map"/>
            <div class="text_content">
                <p>
                    “峨眉山天下秀，震旦第一山”这么响亮的名号赋予咱们峨眉山自然有其中的道理，要美景有美景，要美食有美食，来峨眉一趟，没畅吃畅玩过算是对不起自己。
                </p>
                <p>
                    峨眉山关键词：金顶，普贤菩萨，寺庙，猴子，温泉。
                </p>
                <p>
                    要怎样在有限的时间里安排好最佳的游览路线呢，别急，待小简一一道来~
                </p>
                <p>
                    峨眉山游玩点按照分布大体可以分成三个区域：低山区、中山区和高山区。
                </p>
                <table cellpadding="0" cellspacing="0" >
                    <tr class="">
                        <th class="one">区域</th>
                        <th class="two">核心景点</th>
                        <th class="three">停车场</th>
                    </tr>
                    <tr>
                        <td class="one">低山区</td>
                        <td class="two">报国寺、伏虎寺</td>
                        <td class="three">峨眉山客运中心</td>
                    </tr>
                    <tr>
                        <td class="one" rowspan="2">中山区</td>
                        <td class="two">清音阁生态猴区、一线天</td>
                        <td class="three">五显岗停车场</td>
                    </tr>
                    <tr>
                        <td class="two">峨眉山第一大寺庙-万年寺</td>
                        <td class="three">万年寺停车场</td>
                    </tr>
                    <tr>
                        <td class="one">高山区</td>
                        <td class="two">金顶、万佛顶</td>
                        <td class="three">雷洞坪停车场</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            峨眉山1日游：
        </div>
        <div class="play_desc">
            <div class="text_desc no-pb">
                <p>峨眉山1日游的行程是相对紧凑的，所以小简在这里建议大家高山区金顶和半山区二选其一进行游览，没完尽兴咋办？小简给你出个主意：峨眉山值得你再来一次~</p>
                <p>选择一：直奔金顶（金顶揽胜观四绝）</p>
                <p>
                    来到峨眉山一定要上金顶，从简途下车点峨眉山大酒店停车场出来向左顺着路走几分钟就可以到达峨眉山客运中心，在此购买到雷洞坪停车场的观光车票，到达雷洞坪停车场后需向上步行一段路程到达接引殿，然后乘坐缆车上金顶，进行游览。在此小简提醒再提醒，缆车一定要买往返的，不然下山来不及赶上咱们回程的耍巴士哦~~
                </p>
                <p>选择一：直奔半山（半山访寺戏灵猴）</p>
                <p class="last">
                    如果不想去金顶打算直奔半山区游览的朋友，可以在峨眉山客运中心购买到万年寺停车场的车票，然后乘坐缆车到达峨眉山最大的寺庙万年寺游览，参观完成后沿路而下到达一线天、清音阁猴区，与峨眉山的灵猴近距离接触，随后回到五显岗停车场乘观光车回到报国寺（可在峨眉山大酒店停车场处下车）。
                </p>
            </div>
        </div>
    </div>

    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            峨眉山2日游：
        </div>
        <div class="play_desc">
            <div class="text_desc no-pb">
                <p>第一天：可自由安排爬山，或是乘坐观光车游览。小简的建议是第一天前往半山区游览。</p>
                <p>第二天：可稍微晚起，八点到客运中心乘坐观光车和缆车直接上到金顶，慢慢玩，然后返回山脚，去看看报国寺、伏虎寺。</p>
                <p>
                    如果是要在金顶住一晚看日出的朋友，建议您第一天游览完半山区以后乘车到雷洞坪，从雷洞坪步行上金顶，锻炼身体，慢慢走大约两小时多！第二天起个大早，观日出云海，然后再从金顶慢慢玩下山。
                </p>
                <p class="last">小简小贴士：简途耍巴士返程发车时间为18:00，发车点为峨眉山大酒店停车场（蜀珍苑餐厅正对面），准时准点发车，请注意合理把握游玩时间。</p>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/strategies/ems/home.html">去查看全部峨眉山攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>