<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小简为你采集吃住娱</title>
    <link href="/css/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/collection_top_banner.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在乐山-吃货天堂，从早吃到晚
        </div>
        <div class="collection_desc">
            <p>
                话说来到成都旅游的吃货们，你们一定不能错过乐山。一个吃货的天堂，让你从早吃到晚完全不是梦，说着说着小简的心已经从办公室飞到了乐山，开启了脑补美食的新阶段。不卖关子了，小简要放大招了，就不相信你能忍得住~
            </p>
            <p>说到乐山，是一个连成都人都心之神往的地方，从清晨到日落，饱腹感是你来过这个城市最好的证明。早上，豆腐脑配上一个夹饼，各种作料的味道相互碰撞，再加上一份牛肉或者肥肠，一天就美好的开始了。</p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        中午，去苏稽镇上尝一尝正宗的翘脚牛肉吧！相传，在民国年间，老百姓民不聊生，有一位擅长中草药的老中医住在乐山，他怀着济世救人的慈善之心，在乐山苏稽镇河边悬锅烹药，救济过往行人。他看见一些大户人家杀牛后往往把牛下水（牛肚、肠子之类的牛杂）扔到河里，觉得非常可惜，于是他就把这些牛杂捡回家清洗干净后放入熬中药的汤锅里，供给行人食用。结果大家发现熬出来的汤味鲜好喝，且能防病治病。久而久之，专程前来品尝的人络绎不绝。因店小人多，往往座位不够，于是食客就直接跷着二郎腿用餐，时间一长，人们就把苏稽牛肉形象地称为“翘脚牛肉”。
                    </p>
                    <img class="mb10" src="/images/ls/qiaojiaoniurou.jpg" alt="qiaojiaoniurou.jpg"/>
                    <p>下午，来一只正宗的乐山甜皮鸭，话说甜皮鸭可是乐山的美食名片，一口咬下去的油滋滋的感觉绝对是一种对于美食绝无仅有的体验。小简友情提示这种美食可以打包带走哦，带回家给亲戚朋友绝对够味儿，在乐山玩耍的朋友可以选择上门自提，别的地方的朋友也别担心，这里的甜皮鸭可是可以包邮全国的哦，还不赶紧抓紧机会~</p>
                    <img src="/images/ls/tianpiya.jpg" alt="">
                    <p></p>
                    <div class="ticket">
                        <div class="left">
                            <div class="title">乐山甜皮鸭</div>
                            <div class="detail">
                                <span class="sc-price">
                                    <span class="label">市场价</span>
                                    <span>60</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>60</span>
                                </span>
                            </div>
                        </div>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/product/product/detail/164" class="right">立即抢购</a>
                    </div>
                    <p>
                        还不过瘾？叫上一锅钵钵鸡配着吃怎么样？
                    </p>
                    <div class="group no-pb">
                        <p>
                            成都著名小吃钵钵鸡也是以乐山的最为出名。钵钵鸡其实是冷锅串串的一个新的叫法，以陶器钵盛放配以麻辣为主的佐料，加上多种调料的去骨鸡片拌和而成，现在已经发展出来各种蔬菜肉类都能做成钵钵鸡。如果能在乐山住一晚，晚上就可以感受在乐山夜景之下，吃着乐山烧烤，喝着夜啤酒的惬意了。小简写到这里，胃已经在抗议了，现在就准备打开简途订一张去乐山的车票了！
                        </p>
                        <img src="/images/ls/boboji.jpg" alt="boboji.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title hotel">
            住在乐山-美食还是清净？你来选
        </div>
        <div class="collection_desc">
            <p>
                玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group">
                        <p>
                            如果你是为了美食来到乐山，那么小简就推荐你住在乐山的市中心了，去哪里交通都比较方便，那么小简就墙裂推荐宜必思了，宜必思乐山中心酒店处于闹市商业区，绝对为寻找美食的你做好的绝佳的位置准备，而且酒店距离闻名世界的乐山大佛仅有5公里哦~
                        </p>
                        <img src="/images/ls/yibisi.jpeg" alt="yibisi.jpeg"/>
                    </div>
                    <div class="group no-pb">
                        <p>
                            还有一处驿站，小简觉得是一个不错的去处，乐山FODI驿站地处大佛坝村，是世界上绝无仅有的一座面对乐山大佛的客栈。客栈位于三江汇合处，空气清新，视野开阔；可览千亩宽阔水域。住在这样的地方，是不是觉得心境都清净了不少呢？
                        </p>
                        <img src="/images/ls/lsFODI.jpeg" alt="lsFODI.jpeg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            玩在乐山-坐上火车去赏花
        </div>
        <div class="collection_desc">
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <div class="group no-pb">
                        <p>
                            在乐山除了大佛还有什么地方值得一去呢？如果时间足够，小简推荐大家可以去嘉阳看一看。嘉阳国家矿山公园是以展示人类矿业遗迹为主，体现矿业发展历史内涵，并供人们游览观赏与科学知识普及的矿山公园。--嘉阳煤矿建矿历史已有70余年，这里有被誉为工业革命“活化石”的嘉阳小火车和具有中西合璧建筑特点的原生态小镇芭蕉沟等矿业遗迹，被认为是中国煤炭工业发展的“活体里程碑”和“实体博物馆”。
                        </p>
                        <img class="pb10" src="/images/ls/jiayanghuoche.jpg" alt=""/>
                        <p>每年的3-4月嘉阳的油菜花都开了，可以去嘉阳坐上小火车，感受一下被花海包围的感觉~</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="/views/strategies/ls/home.html">去查看全部乐山攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>